@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Admin.Models.Tabs
@using MrCMS.Web.Apps.Admin.Services
@model Webpage
@inject IGetEditTabsService TabsService
@{
    var tabs = TabsService.GetEditTabs(Html, Model);
    ViewData["webpage"] = Model;
}
<ul class="nav nav-tabs margin-top-10" data-stickytabs="webpage-@Model.Id">
    @foreach (var tab in tabs)
    {
        ViewData["is-first"] = tab == tabs.First();
        <partial name="Tab" model="tab" view-data="ViewData"/>
    }
</ul>
<div class="tab-content">
    @foreach (var tab in tabs)
    {
        ViewData["is-first"] = tab == tabs.First();
        <partial name="TabContent" model="tab" view-data="ViewData"/>
    }
</div>

@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/edit-webpage.js"); }