@model MrCMS.Web.Apps.Admin.Models.MediaCategorySearchModel
@{
    ViewBag.Title = "Manage Media";
}
<admin-header>
    <row>
        <admin-header-title title="@Html.Resource("admin-media", "Media") "/>

        <admin-header-actions>
            <a href="@Url.Action("Add", "MediaCategory")" class="btn btn-primary">@Html.Resource("Admin Media New Folder Button", "New Folder")</a>
        </admin-header-actions>
    </row>
</admin-header>

<card>
    <card-body>
        <partial name="Manage" model="Model"/>
    </card-body>
</card>
