@model MrCMS.Entities.Multisite.Site
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   

@using (Html.BeginForm("Delete", "Sites", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Site</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the site @Model.Name? Deleting this site will delete all associated pages and settings and can not be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-danger btn" value="Delete site" />
    </div>
}