@using MrCMS.Helpers
@model MrCMS.Entities.Multisite.Site
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Delete", "Sites", FormMethod.Post))
{
    <fieldset>
        <legend>@Resource("Admin Delete site", "Delete site")
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-danger btn" value="@Resource("Delete")" />
            </span>
        </legend>
        @Html.InfoBlock(Resource("Heads up") + "!", Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)

    </fieldset>
}