@model dynamic
@using (Html.BeginForm("EnableMultisite", "Sites", FormMethod.Post))
{
    <h2>Enable Multisite
    </h2>
    <p>
        By enabling multisite, you will be able to run multiple websites via this admin, by setting up the sites via admin and in IIS correspondingly.
    </p>
    
    <input type="submit" class="btn btn-primary" value="Enable Multisite"/>
}