@{
    Layout = "_LayoutRoot.cshtml";
}

<div style="min-height: 500px;" class="w-100">
    <div class="p-3">
        <partial name="Messages"/>
        @RenderBody()
    </div>
</div>


@if (IsSectionDefined("JavaScriptBlock"))
{
    @await RenderSectionAsync("JavaScriptBlock")
}