@model dynamic
<li class="nav-item dropdown">
    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle"role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-share-alt"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-action="Index" asp-controller="PushNotification">@await Html.Resource("View push notifications")</a>
        <a class="dropdown-item" asp-action="SendToRole" asp-controller="PushNotification" data-toggle="fb-modal">@await Html.Resource("Send push to role")</a>
        <a class="dropdown-item" asp-action="SendToAll" asp-controller="PushNotification" data-toggle="fb-modal">@await Html.Resource("Send push to all")</a>
    </div>
</li>