@using MrCMS.Web.Admin.Services
@inject IAdminSiteListService Service
@model dynamic


@foreach (var site in await Service.GetSites())
{
    <a href="@Context.Request.Scheme://@site.BaseUrl" class="dropdown-item">@site.Name</a>
}