@model MrCMS.Web.Areas.Admin.Models.DefaultGeneratorInfo
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var urlGeneratorOptions = ViewData["url-generator-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}
@using (Html.BeginForm("Set", "UrlGeneratorSettings", FormMethod.Post))
{
    @Html.HiddenFor(info => info.PageTypeName)
    <fieldset>
        <legend>
            Set Default Generator for -
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn-primary btn" value="Set default generator" />
            </span>
        </legend>

        @Html.LabelFor(x => x.GeneratorTypeName)
        @Html.DropDownListFor(x => x.GeneratorTypeName, urlGeneratorOptions)
        @Html.ValidationMessageFor(x => x.GeneratorTypeName)
    </fieldset>
}