@using System.Drawing
@model MrCMS.Web.Apps.Core.Widgets.Slider
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach (var slider in Model.Sliders)
        {
            <div class="item" @(!string.IsNullOrWhiteSpace(slider.Link) ? "onclick='location.href=" + slider.Link + "'" : "")>
                @RenderImage(slider.Image)
                @if (!string.IsNullOrWhiteSpace(slider.Description))
                {
                    <div class="carousel-caption">
                        @slider.Description
                    </div>
                }
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
