@using MrCMS.Website
@model System.Collections.Generic.List<MrCMS.Web.Apps.Core.Models.Navigation.NavigationRecord>
<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li><a href="@item.Url">@item.Text</a></li>    
    }
</ul>
