@using MrCMS.Website
@model List<MrCMS.Web.Apps.Core.Models.Navigation.NavigationRecord>
<ul class="dropdown-menu">
    @foreach (var page in Model)
    {
        <li><a href="@page.Url">@page.Text</a></li>    
    }
</ul>
