@using MrCMS.Models.Auth
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Pages.ForgottenPasswordPage
@{
    var message = ViewData["message"] as string;
    var forgotPasswordModel = new ForgotPasswordModel();
}

@await Html.Editable(page => page.BodyContent)

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @Html.Raw(message)
    </div>
}

<partial name="ForgotPasswordForm" model="forgotPasswordModel"></partial>