@using MrCMS.Helpers
@using MrCMS.Models.Auth
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Pages.RegisterPage
@{
    var registrationModel = TempData["register-model"] as RegisterModel ?? new RegisterModel();
}

<h1>@Html.Editable(page => page.Name) </h1>
<hr />
@if (!string.IsNullOrWhiteSpace(Model.FeatureImage))
{
    @Html.RenderImage(Model.FeatureImage, attributes: new { @class = "pull-right" })
}
@Html.Editable(page => page.BodyContent, true)


<partial name="RegistrationDetails" model="registrationModel" />