@using MrCMS.Entities.People
@using MrCMS.Helpers
@using MrCMS.Models.Auth
@using MrCMS.Web.Apps.Core.Models
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Pages.UserAccountPage
@{
    var user = ViewData["user"] as User;

    var userAccountModel = new UserAccountModel() { Email = user.Email, FirstName = user.FirstName, LastName = user.LastName };
    var changePasswordModel = new ChangePasswordModel { Message =   TempData["password-error-message"] as string };
}
<h1>@Html.Editable(page => page.Name) </h1>
<hr />
@Html.Editable(page => page.BodyContent, true)

@{
    var message = ViewData["message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @message
    </div>
}


<div class="row">
    <div class="col-lg-6">
        <partial name="UserAccountDetails" model="userAccountModel" />
    </div>
    <div class="col-lg-6">
        <partial name="ChangePassword" model="changePasswordModel" />
    </div>
</div>
