@using MrCMS.Entities.Documents.Web
@using MrCMS.Web.Apps.Core.Models
@model MrCMS.Web.Apps.Core.Pages.WebpagePasswordPage
@{
    var lockedPage = ViewData["locked-page"] as Webpage;
    var isError = TempData["error"] as bool? ?? false;
}
@if (lockedPage == null)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                @await Html.Resource("Cannot find page to unlock", "Sorry, but we can't find the page you're trying to unlock. This probably means it's been removed by the site admin")
            </div>
        </div>
    </div>
}
else
{
    @await Html.Editable(page => page.BodyContent, true)

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <h1>@string.Format(await Html.Resource("Unlock {0}"), lockedPage.Name)</h1>
            <hr/>
            <form method="post">
                @if (isError)
                {
                    <div class="alert alert-danger">
                        @await Html.Resource("Webpage password incorrect", "Sorry, but the entered password is incorrect")
                    </div>
                }
                @Html.Hidden(nameof(UnlockPageModel.LockedPage), lockedPage.Id)
                <div class="form-group">
                    @Html.Label(nameof(UnlockPageModel.PagePassword), "Password")
                    @Html.Password(nameof(UnlockPageModel.PagePassword), "", new {@class = "form-control"})
                </div>

                <button class="btn btn-primary">@await Html.Resource("Enter password")</button>

            </form>
        </div>
        <div class="col-md-8 col-sm-6">
        </div>
    </div>
}