@using MrCMS.Entities.Documents.Web
@using MrCMS.Web.Admin.Infrastructure.Models.Tabs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MrCMS.Web.Admin.Infrastructure.Models.Tabs.AdminTabBase<Form>
@{
    var isFirst = ViewData["is-first"] is bool b && b;
    var form = ViewData["form"] as Form;
}

@if (Model is AdminTab<Form> tab)
{
    <li class="nav-item">
        <a href="#@tab.TabHtmlId" data-toggle="tab" class="nav-link @(isFirst ? "active" : "")">@await tab.Name(Html, form)</a>
    </li>
}
else if (Model is AdminTabGroup<Form> @group)
{
    <li class="nav-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="nav-link @(isFirst ? "active" : "")">@(@group.Name(Html, form))&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var child in @group.Children)
            {
                <partial name="Tab" model="child" view-data="ViewData"/>
            }
        </ul>
    </li>
}