@using AutoMapper
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MrCMS.Entities.Documents.Web
@using MrCMS.Web.Admin.Infrastructure.Models.Tabs
@model MrCMS.Web.Admin.Infrastructure.Models.Tabs.AdminTabBase<Form>
@{
    var isFirst = ViewData["is-first"] is bool b && b;
    var form = ViewData["form"] as Form;
}


@if (Model is AdminTab<Form> adminTab)
{
    <div class="tab-pane@(isFirst ? " active" : "")" id="@adminTab.TabHtmlId">
        @{
            await adminTab.RenderTabPane(Html, Html.GetRequiredService<IMapper>(), form);
        }
    </div>
}
else if (Model is AdminTabGroup<Form> @group)
{
    foreach (var tab in @group.Children)
    {
        <partial name="TabContent" model="tab" view-data="ViewData"/>
    }
}