@model MrCMS.Web.Admin.Models.TaskUpdateData
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }

@using (Html.BeginForm("Execute", "Task", FormMethod.Post))
{
    @Html.HiddenFor(x => x.TypeName)
    <fieldset>
        <legend>
            @await Html.Resource("Admin Tasks Execute", "Execute Task")
            <span class="btn-group pull-right">
                <input type="submit" class="btn-primary btn" value="@await Html.Resource("Execute")"/>
            </span>
        </legend>

        @await Html.Resource("Admin Tasks - Confirm execute", "Click the execute button to confirm you want to execute this task.")

    </fieldset>
}