@model TestEmailInfo

<form asp-controller="SystemSettings" asp-action="TestMailSettings" method="post" id="edit-settings">
    <fieldset>
        <legend>
            @await Html.Resource("Send Test Email")
            <span class="btn-group pull-right">
                <button class="btn btn-primary" type="submit">
                    @await Html.Resource("Send email")
                </button>
            </span>
        </legend>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="text" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
    </fieldset>
</form>