@using MrCMS.Helpers
@model List<MrCMS.Web.Areas.Admin.Models.WebpageStats>

<h4>Page stats</h4>
<table class="table table-striped table-condensed" style="overflow: scroll">
    <thead>
        <tr>
            <th>Page type
            </th>
            <th>Total
            </th>
            <th>Unpublished
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stat in Model)
        {
            <tr>
                <td>@DocumentMetadataHelper.GetMetadataByTypeName(stat.DocumentType).Name</td>
                <td>@stat.NumberOfPages
                </td>
                <td>@stat.NumberOfUnPublishedPages
                </td>
            </tr>
        }
    </tbody>
</table>
