@model MrCMS.Entities.Documents.Web.Webpage
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
<div class="modal-header">
    <h3 id="myModalLabel">Confirm delete</h3>
</div>
<div class="modal-body">
    <p>Deleting this webpage can not be undone.</p>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Webpage", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
    {
        <input type="submit" class="btn btn-primary" value="Confirm Delete Webpage" />
    }
</div>
