@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage
<div class="tab-pane" id="form-builder-tab">
    <h4>Design</h4>
    <div id="my-form-builder"></div>
</div>
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/jquery.formbuilder.js"); }