@using MrCMS.Entities.Documents.Web
@using MrCMS.Helpers
@model Webpage
<div class="tab-pane" id="form-properties-tab">
    <div class="alert alert-info">
        <strong>Heads up!</strong> Start by adding fields to your form using the Add Field button. Once all fields are added, use [form] in the page body content to embded the form where you would like it.
    </div>

    <div id="form-data" class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span7">
                    <h4>Form Fields</h4>
                </div>
                <div class="span5">
                    <div class="pull-right">
                        @Html.ActionLink("Add Field", "AddProperty", "Form", new { id = Model.Id }, new { @class = "btn btn-primary btn-mini", data_toggle = "fb-modal" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @if (Model.FormProperties.Any())
                    {
                        foreach (var property in Model.FormProperties)
                        {
                            <div class="row-fluid">
                                @{ Html.RenderPartial("FormProperty", property); }
                            </div>
                        }
                    }
                    else
                    {
                        @:No form fields added.
                    }
                </div>
            </div>
        </div>
    </div>
</div>