@using MrCMS.Helpers
@{
    ViewBag.Title = "Manage Pages";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="page-header">@Resource("Admin Nav Pages", "Pages")</h1>
<div id="web">
    <div id="webpage-tree">
    </div>
</div>
<br class="clearfix" />
<strong>@Resource("Key"):</strong>
<hr class="small-margin" />
<span class="grey">@Resource("Admin Webpage Index Not Included In Navigation", "Not included in site navigation")</span><br />
<span class="orange">@Resource("Admin Webpage Index Not published", "Not published")</span><br />
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/pages.js"); }
