@model MrCMS.Entities.Documents.Web.Webpage
<div class="tab-pane" id="preview">
    <p>
        (<b>Note:</b> this preview is based on the last saved data, save any changes to see them reflected in the preview)
    </p>
    <iframe src="" width="100%" height="800" scrolling="yes" frameborder="0" border="0" id="previewIframe"></iframe>
</div>
