@using MrCMS.Entities.Documents.Web
@model List<MrCMS.Entities.Documents.Web.Webpage>
@{
    ViewBag.Title = "Sort Webpage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $(".progress").hide();
            $("#save").click(function() {
                var numberOfLi = $('#sortable li').length;
                var updated = 0;
                setBarWidth(0);
                $(".progress").show();

                $('#sortable li').each(function(index, element) {
                    updated = parseInt(updated) + 1;
                    sendUpdateRequest(parseInt(index), numberOfLi, updated, element);

                });
            });

            function sendUpdateRequest(order, numberOfLi, updated, element) {
                $.ajax({
                    url: '/Admin/Webpage/SortAction',
                    data: { order: order, documentId: element.id },
                    success: function(data) {
                        var width = calculatePercentage(parseInt(numberOfLi), parseInt(updated));
                        setBarWidth(width);
                        if (width == "100") {
                            $("<div></div>").show().delay(300); // required to show bar at 100% as css is slow
                            reload();
                        }
                    }
                });

            }

            function setBarWidth(width) {
                $(".bar").attr('style', 'width:' + width + '%');
            }

            function reload() {
                window.location.href = window.location.href;
            }

            function calculatePercentage(total, completed) {
                return (parseInt(completed) / parseInt(total)) * 100;
            }
        });
    </script>
}
<div class="row-fluid">
    <div class="span7">
        <h3>
            Sort</h3>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span10" style="margin: 0; padding: 0;">
                <div id="loading" style="padding-top: 5px;">
                    <div class="progress progress-striped" style="margin-bottom: 0px;">
                        <div class="bar">
                        </div>
                    </div>
                </div> &nbsp;
            </div>
            <div class="span2">
                <button class="btn pull-right" id="save">
                    Save</button>
            </div>
        </div>
    </div>
</div>
<hr class="small-margin" />
<ul id="sortable">
    @foreach (Webpage d in Model)
    {
        <li id="@d.Id"><i class="icon-resize-full"></i>&nbsp;&nbsp;@d.Name</li>
    }
</ul>
<div class="alert alert-info">
    Drag items in to the order you would like then click save.
</div>