@using MrCMS.Entities.Widget
@model List<Widget>
@{
    ViewBag.Title = "Sort Webpage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $(".progress").hide();
            $("#save").click(function () {
                $(".progress").show();

                var ids = $('#sortable li').map(function () {
                    return this.id;
                }).get().join(',');

                $.ajax({
                    url: '/Admin/LayoutArea/SortWidgetsAction',
                    data: { orders: ids },
                    success: function (data) {
                        reload();
                    }
                });
            });

            function reload() {
                window.location.href = window.location.href;
            }
        });
    </script>
}
<div class="row-fluid">
    <div class="span7">
        <h3>Sort</h3>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span10" style="margin: 0; padding: 0;">
                <div id="loading" style="padding-top: 5px;">
                    <div class="progress progress-striped" style="margin-bottom: 0px;">
                        <div class="bar">
                        </div>
                    </div>
                </div>
                &nbsp;
            </div>
            <div class="span2">
                <button class="btn pull-right" id="save">
                    Save</button>
            </div>
        </div>
    </div>
</div>
<hr class="small-margin" />
<ul id="sortable">
    @foreach (Widget d in Model)
    {
        <li id="@d.Id"><i class="icon-resize-full"></i>&nbsp;&nbsp;@d.Name (@d.WidgetTypeFormatted)</li>
    }
</ul>
<div class="alert alert-info">
    Drag items in to the order you would like then click save.
</div>
