@model MrCMS.Entities.Documents.Web.FormPosting
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>View Entry</h3>
</div>
<div class="modal-body">
    <ul>
        @foreach (var value in Model.FormValues)
        {
            <li>
                <b>@value.Key:</b> @value.Value
            </li>
        }
    </ul>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
