@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.LoginModel
<h4><a href="@(UniquePageHelper.GetUrl<LoginPage>(new { returnUrl = Request.RawUrl }))">Login</a> to comment</h4>
