@model MrCMS.Web.Admin.Models.PushSubscriptionSearchQuery

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control"/>
        </div>
    </div>
</div>