@model MrCMS.Web.Apps.Commenting.Entities.Comment
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
<fieldset>

    @using (Html.BeginForm("Approval", "Comment", new { id = Model.Id }, FormMethod.Post))
    {
        <legend>View comment
                <span class="btn-group display-inline pull-right">
                    @if (Model.Approved != true)
                    {
                        <input type="submit" class="btn btn-success" name="Approve" value="Approve" />
                    }
                    @if (Model.Approved != false)
                    {
                        <input type="submit" class="btn btn-danger" name="Reject" value="Reject" />
                    }
                </span>
        </legend>
    }
    <div class="row-fluid">
        <div class="span12">
            <p>
                <b>Posted by: </b>
                @if (Model.User != null)
                {
                    @Html.ActionLink(Model.Name, "Edit", "User", new { id = Model.User.Id }, new { target = "_blank" })
                }
                else
                {
                    <text>
                    @Model.Name (@Model.Email)
                    </text>
                }
            </p>
            <p>
                <b>Message: </b>
                @Model.Message
            </p>
        </div>
    </div>
</fieldset>
