@model MrCMS.Entities.Documents.Media.MediaFile
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "File", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Delete file
                <span class="btn-group  display-inline  pull-right">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </span>
        </legend>
        <p>Deleting this cannot be undone. If this file is referenced anywhere, a broken image link will show. Make sure the file is not in use on your website.</p>
    </fieldset>
}
