@model string

<div class="form-group">
    @Html.Label("")
    <div class="clearfix"></div>
    @Html.TextBox("", Model, new {@class = "form-control", data_color_picker = ""})
    @Html.ValidationMessage("")
</div>