@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string

<div class="form-group">
    <label asp-for="@Model"></label>
    <input asp-for="@Model" class="form-control"/>
    <span asp-validation-for="@Model"></span>
</div>