@model MrCMS.Entities.People.User
Logged in as @Html.ActionLink(Model.Name, "Edit", "User", new { id = Model.Id }, null)
| @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)
| @Html.ActionLink("Settings", "Index", "Settings")
| <a href="/">Home Page</a>