@model MrCMS.Models.SiteTree<MrCMS.Entities.Documents.Media.MediaCategory>
<div id="media-tree" class="tab-pane">
    <div class="sidebar-nav">
        <ul class="filetree  browser web-media">
            <li data-id="@Model.Id" data-controller="@Model.NodeType"><i class="@Model.IconClass">
                                                                          &nbsp;</i>
                @Html.ActionLink(Model.Name, "Edit", Model.NodeType, new {id = Model.Children.Any() ? Model.Children.FirstOrDefault().Id : 1}, null)
                @{ Html.RenderPartial("TreeChildren", Model.ChildrenModel); }
            </li>
        </ul>
    </div>
</div>