@using MrCMS.Helpers
@using MrCMS.Services.Resources
@{
    ViewBag.Title = "Manage Pages";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="page-header">@Html.Resource("Admin Nav Pages", "Pages")</h1>
<div class="content-item">
<div id="web">
    <div id="webpage-tree">
    </div>
</div>
<br class="clearfix" />
<strong>@Html.Resource("Key"):</strong>
<hr class="small-margin" />
<span class="grey">@Html.Resource("Admin Webpage Index Not Included In Navigation", "Not included in site navigation")</span><br />
<span class="orange">@Html.Resource("Admin Webpage Index Not published", "Not published")</span><br />
</div>
@{ Html.IncludeScript("~/Areas/Admin/scripts/pages.js"); }
