@using MrCMS.Helpers
@using MrCMS.Services.Resources
@{
    ViewBag.Title = "Manage Pages";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col">
                <h1>@Html.Resource("Admin Nav Pages", "Pages")</h1>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body">
        <div id="web">
            <div id="webpage-tree">
            </div>
        </div>
        
        <hr />
        <strong>@Html.Resource("Key"):</strong>

        <span class="text-success">@Html.Resource("Admin Webpage Index Not Included In Navigation", "Not included in site navigation")</span><br/>
        <span class="text-warning">@Html.Resource("Admin Webpage Index Not published", "Not published")</span><br/>

    </div>
</div>


@{ Html.IncludeScript("~/Areas/Admin/scripts/pages.js"); }