@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="mb-5">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

