@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<header class="py-3">
    <h1 class="mb-5">@ViewData["Title"]</h1>
    @if (User.Identity!.IsAuthenticated)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
            <button type="submit" class="btn btn-danger">Click here to Logout</button>
        </form>
    }
    else
    {
        <div class="alert alert-success">You have successfully logged out of the application. Please <a asp-page="./Login">click here to visit the login page</a>.</div>
    }
</header>