@using MrCMS.Helpers
@model MrCMS.Web.Admin.Models.UpdateSiteModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}

@using (Html.BeginForm("Delete", "Sites", new { Model.Id }, FormMethod.Post))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Delete site", "Delete site")
            <span class="btn-group pull-right">
                <input type="submit" class="btn-danger btn" value="@Html.Resource("Delete")" />
            </span>
        </legend>
        @Html.InfoBlock(Html.Resource("Heads up") + "!", Html.Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
    </fieldset>
}