@using MrCMS.Helpers
@model MrCMS.Entities.UserProfile.NotificationSettings

@using (Html.BeginForm("Update", "NotificationSettings", new { Model.Id }, FormMethod.Post))
{
    <fieldset>
        <legend>Notification Settings
            <span class="btn-group display-inline pull-right">
                <button class="btn btn-primary" type="submit">
                    Save</button>
            </span>
        </legend>
        <div class="row-fluid">
            <div class="span12">
                @Html.InlineCheckboxFor(settings => settings.DisablePersistentNotifications)
                @Html.InlineCheckboxFor(settings => settings.DisableTransientNotifications)
            </div>
        </div>
    </fieldset>
}