@model MrCMS.Entities.People.UserRole
@using (Html.BeginForm("Add", "Role", FormMethod.Post))
{
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Role</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        <br />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <input type="submit" class="btn-primary btn" value="Add role" />
    </div>
}