@model MrCMS.Entities.People.UserRole
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Role", FormMethod.Post))
{
    <fieldset>
        <legend>Delete role
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-danger btn" value="Delete role" />
            </span>
        </legend>
        Are you sure you want to delete the role @Model.Name ? Deleting this role will delete all user mappings and can not be undone.
    </fieldset>
}