@model MrCMS.Entities.People.UserRole

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "Role", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Role</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the role @Model.Name ? Deleting this role will delete all user mappings and can not be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Delete role" />
    </div>
}