@using MrCMS.Entities.People
@model IEnumerable<UserRole>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>User Roles</h2>
@Html.ActionLink("Add", "Add", null, new {@class = "btn btn-success", data_toggle = "fb-modal"})
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>Name
        </th>
        <th></th>
    </tr>
    @foreach (UserRole role in Model)
    {
        if (role.IsAdmin)
        {
            <tr>
                <td colspan="2">@role.Name</td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.ActionLink(role.Name, "Edit", new {id = role.Id}, new {@class = "", data_toggle = "fb-modal"})
                </td>
                <td>@Html.ActionLink("Delete", "Delete", new {id = role.Id}, new {@class = "btn btn-danger", data_toggle = "fb-modal"})</td>
            </tr>
        }
    }
</table>