@model MrCMS.Entities.Documents.Layout.LayoutArea
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
<div class="modal-header">
    <h3>Add layout area</h3>
</div>
@using (Html.BeginForm("Add", "LayoutArea", new { id = "" }, FormMethod.Post))
{
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                @Html.HiddenFor(x => x.Layout.Id)
                @Html.LabelFor(x => x.AreaName)
                @Html.EditorFor(x => x.AreaName, new{@class="span12"})
                @Html.ValidationMessageFor(x => x.AreaName, "", new { @class = "error" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-success btn" value="Add layout area" />
    </div>
}