@using MrCMS.Entities.Widget
@using MrCMS.Helpers
@model List<Widget>
@{
    ViewBag.Title = "Sort Webpage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $(".progress").hide();
            $("#save").click(function () {
                $(".progress").show();

                var ids = $('#sortable li').map(function () {
                    return this.id;
                }).get().join(',');

                $.ajax({
                    url: '/Admin/LayoutArea/SortWidgetsAction',
                    data: { orders: ids },
                    success: function (data) {
                        reload();
                    }
                });
            });

            function reload() {
                window.location.href = window.location.href;
            }
        });
    </script>
}
@{
    var widget = Model.FirstOrDefault();
    var Id = 0;
    if (widget != null)
    {
        Id = widget.LayoutArea.Id;
    }
}
<form>
    <fieldset>
        <legend>Sort
            <span class="btn-group  display-inline  pull-right">
                <a href="/Admin/LayoutArea/Edit/@Id  " class="btn">Back</a>
                <button class="btn btn-primary" id="save">
                    Save</button>

            </span>
        </legend>

        <ul id="sortable">
            @foreach (Widget d in Model)
            {
                <li id="@d.Id"><i class="icon-resize-full"></i>&nbsp;&nbsp;@d.Name (@d.WidgetTypeFormatted)</li>
            }
        </ul>

        @Html.InfoBlock("Heads up! ", "Drag items in to the order you would like then click save.")
    </fieldset>
</form>
