@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Webpages.TextPageViewModel
<div class="form-group">
    <label asp-for="FeatureImage" class="w-100"></label>
    <input type="text" asp-for="FeatureImage" data-type="media-selector"/>
</div>