@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@model dynamic
@{
    ViewBag.Title = "Testing Testing";
}
<fieldset>
    <legend>About</legend>
    <p>&copy; Mr CMS 2012-@DateTime.Now.Year  This is Testing Testing</p>
   
</fieldset>