@using System.Linq
@using MrCMS.Entities.Documents.Web
@using MrCMS.Services
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Models.CurrentPageSubNavigationModel
@{
    var currentPage = ViewData[GetCurrentPage.CurrentPage] as Webpage;
    var activePages = currentPage?.ActivePages.Select(webpage => "/" + webpage.LiveUrlSegment).ToList()?? new List<string>();
}
@if (Model.Model.ShowNameAsTitle)
{
    <h4>@Model.Model.Name</h4>
}
<ul class="nav nav-pills nav-stacked">
    @foreach (var item in Model.NavigationList)
    {
        <li class="@(activePages.Any(s => s == item.Url.ToString()) ? "active" : "")">
            <a href="@item.Url">@item.Text</a>
        </li>
    }
</ul>
