@model MrCMS.Web.Admin.Models.UpdateWidgetModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Delete", "Widget", new {id = Model.Id}, FormMethod.Post, null, new {style = "display:inline;", @target = "_top"}))
{
    <fieldset>
        <legend>
            @await Html.Resource("Admin Widget Confirm Delete", "Confirm Delete")

            <span class="btn-group pull-right">
                <input type="submit" class="btn btn-danger" value="@await Html.Resource("Delete")"/>
            </span>
        </legend>
        @if (Context.Request.Referer() != null)
        {
            <text>
                @Html.Hidden("returnUrl", Context.Request.Referer())
            </text>
        }

        @Html.InfoBlock(await Html.Resource("Heads up") + "!", await Html.Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
    </fieldset>
}