@model MrCMS.Web.Admin.Models.UpdateWidgetModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Delete", "Widget", new {id = Model.Id}, FormMethod.Post))
{
    @Html.Hidden("ReturnUrl", ViewData["return-url"])
    <fieldset>
        <legend>
            @await Html.Resource("Admin Widget Confirm Delete", "Confirm Delete")

            <span class="btn-group pull-right">
                <input type="submit" class="btn btn-danger" value="@await Html.Resource("Delete", configureOptions=> configureOptions.DisableInlineEditing())"/>
            </span>
        </legend>

        @Html.InfoBlock(await Html.PlainResource("Heads up") + "!", await Html.PlainResource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
    </fieldset>
}