@using MrCMS.Website
@model bool?

<div class="form-check form-check-inline">
    <input type="checkbox" asp-for="@Model" class="form-check-input" />
    <label class="form-check-label" asp-for="@Model"></label>
</div>