@model System.Collections.Generic.List<MrCMS.Web.Admin.Models.PageDefaultsInfo>


<admin-header>
    <row>
        <admin-header-title title="@await Html.Resource("admin-page-default", "Page Defaults") "/>

        <admin-header-actions>
        </admin-header-actions>
    </row>
</admin-header>


<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>
            @await Html.Resource("Admin Page Defaults Page Type", "Page Type")
        </th>
        <th>
            @await Html.Resource("Admin Page Defaults Default Generator", "Default Generator")
        </th>
        <th>
            @await Html.Resource("Admin Page Defaults Default Layout", "Default Layout")
        </th>
        <th>
            @await Html.Resource("Actions")
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var info in Model)
    {
        <tr>
            <td>
                @info.DisplayName
            </td>
            <td>
                @info.GeneratorDisplayName
            </td>
            <td>
                @info.LayoutName
            </td>
            <td>
                @Html.ActionLink(await Html.Resource("Admin Page Defaults Set Default", "Set default"), "Set", "PageDefaults", new {type = info.TypeName}, new {@class = "btn btn-sm btn-secondary", data_toggle = "fb-modal"})
            </td>
        </tr>
    }
</table>