@model MrCMS.Web.Admin.Models.DefaultsInfo
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var urlGeneratorOptions = ViewData["url-generator-options"] as List<SelectListItem> ?? new List<SelectListItem>();
    var layoutOptions = ViewData["layout-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}
<form asp-controller="PageDefaults" asp-action="Set" method="post">
    <input type="hidden" asp-for="PageTypeName" />
    <fieldset>
        <legend>
            @await Html.Resource("Admin Page Defaults Set Default For", "Set Defaults for") @Model.PageTypeDisplayName
            <span class="btn-group d-inline pull-right">
                <input type="submit" class="btn-primary btn" value="@await Html.Resource("Save")" />
            </span>
        </legend>

        <div class="form-group">
            <label asp-for="GeneratorTypeName"></label>
            <select asp-for="GeneratorTypeName" asp-items="@urlGeneratorOptions" class="form-control"></select>
            <span asp-validation-for="GeneratorTypeName"></span>
        </div>

        <div class="form-group">
            <label asp-for="LayoutId"></label>
            <select asp-for="LayoutId" asp-items="@layoutOptions" class="form-control"></select>
            <span asp-validation-for="LayoutId"></span>
        </div>

    </fieldset>
</form>