@model MrCMS.Batching.Entities.BatchJob

<tr data-batch-job-id="@Model.Id" data-refresh-url="@Url.Action("Row","BatchJob",new{Model.Id})">
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Status
    </td>
</tr>