@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateEmbedVideoAdminModel

<div class="form-group">
    <label asp-for="EmbedCode"></label>
    <textarea asp-for="EmbedCode" class="form-control"></textarea>
    <span asp-validation-for="EmbedCode"></span>
</div>