@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateSlideAdminModel

<div class="form-group">
    <label asp-for="Caption"></label>
    <input asp-for="Caption" class="form-control" />
    <span asp-validation-for="Caption"></span>
</div>
<div class="form-group">
    <label asp-for="Url" class="w-100"></label>
    <input type="text" asp-for="Url" data-type="media-selector" />
</div> 