@using MrCMS.Helpers
@model List<MrCMS.Models.SortItem>
@{
    ViewBag.Title = "Sort Layouts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sortable").sortable({
                update: function (event, ui) {
                    $('#sortable li').each(function (index, domElement) {
                        $(domElement).find('[name*="Order"]').val(index);
                    });
                }
            });
        });
    </script>
}
<form method="POST" id="sort-layouts">
    <fieldset>
        <legend>Sort
            <span class="btn-group  display-inline  pull-right"><button class="btn btn-primary">
                    Save</button>

            </span>
        </legend>
        
        <ul id="sortable">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li>
                    @Html.HiddenFor(model => model[i].Id)
                    @Html.HiddenFor(model => model[i].Order)
                    <i class="icon-resize-full"></i>&nbsp;&nbsp;
                @Model[i].Name
                </li>
            }
        </ul>

        
        @Html.InfoBlock("Heads up! ", "Drag items in to the order you would like then click save.")

    </fieldset>
</form>
