@using MrCMS.Web.Apps.Admin.Models
@model MrCMS.Web.Apps.Admin.Models.AdminTree
@if (Model.IsRootRequest)
{
    <ul>
        <li class="jstree-open" id="@Model.RootContoller" data-can-add-child="True" data-sortable="True" data-haschildren="True" data-jstree='{"icon":"fa fa-certificate"}' data-controller="@Model.RootContoller">
            <a href="#">@Html.Resource("Root")</a>
            <partial name="Children" model="Model.Nodes" />
        </li>
    </ul>
}
else
{
    <partial name="Children" model="Model.Nodes" />
}

