body, html {
    height: 100%; 
}

#sidebar {
    min-width: 130px;    
}

#sidebar-nav {
    width:100%;
}

.subnav {display:inline-block;}

.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}



