@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
    font-size: 14px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    background-color: #fafbff;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    background-color: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li a.active {
    color: #1EB6F0;
}

.ui-autocomplete {
    z-index: 100000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.subnav {
    display: inline-block;
}

#sidebar .nav-link[data-toggle].collapsed:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

#sidebar .nav-link[data-toggle]:not(.collapsed):after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}

.settings-textarea {
    width: 100%;
    height: 150px;
}

/*Media*/
#file-list, #folder-container {
    height: auto;
    min-height: 400px;
    width: 100%;
    display: block;
}

.file, .folder {
    cursor: default;
}

.folder {
    width: 160px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #808080;
    padding: 8px 8px;
    border: 1px solid #e7e7e7;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.folder:hover {
    background: #e7e7e7;
}

.file {
    float: left;
    height: 150px;
    position: relative;
    width: 160px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #808080;
    border: 1px solid #e7e7e7;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}

.file a {
    display: block;
    width: 100%;
}

.file a img {
    margin: 0 auto;
    display: block;
}

.file a i {
    font-size: 90px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.file a:hover {
    text-decoration: none;
}

.file .checkbox label {
    width: 100%;
    display: block;
    border: 1px solid #e7e7e7;
}

.file .checkbox label input {
    margin-left: 40px;
}

.file .file-preview {
    height: 115px;
    padding: 10px 10px;
    vertical-align: central;
}

.file .file-link {
    height: 25px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.file .file-link a {
    display: block;
    padding: 0 5px;
}

.file.ui-selected, .folder.ui-selected, .file.ui-selecting, .folder.ui-selecting, .file.ui-selected a, .folder.ui-selected a, .file.ui-selecting a, .folder.ui-selecting a {
    background: #428bca;
    color: white;
}

.file, #file-list, .folder, #folder-container {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ *//* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.file.files-cut, .folder.files-cut {
    border: 1px dotted black;
    opacity: 0.5;
}

/*Media upload drop area*/
#dropzone {
    text-align: center;
    font-weight: bold;
    height: 0;
}

#dropzone.in {
    width: 100%;
    height: 100px;
    border: 3px dashed grey;
}

#dropzone span {
    display: none;
}

#dropzone.in span {
    display: block;
    text-align: center;
    padding-top: 38px;
}

#dropzone.hover {
    background: #e7e7e7;
}

#search-form .form-container {
    width: 100%;
    display: inline-block;
}

#search-form .folder-dropdown, #search-form .search-text {
    width: 40%;
}

#search-form .folder-dropdown #CategoryId, #search-form .search-text #Query {
    width: 100%;
}

#search-form .search-btn {
    width: 19%;
}

/*Page header*/
.page-header {
    padding-top: 0;
    margin-top: 0;
    font-size: 26px;
}

.inline-buttons-container {
    width: 100%;
    position: relative;
}

.inline-buttons-container h1 {
    position: relative;
}

.inline-buttons-container .btn-group {
    position: absolute;
    right: 0;
    top: 0;
}

/*Notifications*/
ul.persistent-notification {
    margin: 0;
    padding: 0 10px;
}

ul.persistent-notification li {
    list-style: none;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

ul.persistent-notification li:last-child {
    border-bottom: 0;
}

.notification-date {
    font-size: 11px;
}

.notification-msg {
    font-size: 14px;
}

.notifications-dropdown {
    padding-bottom: 0;
    width: 350px;
    margin-left: 0px;
    max-height: 600px;
    overflow-x: auto;
}

.notifications-dropdown form {
    width: 100%;
    padding-top: 10px;
    text-align: center;
}


/*validation*/
.field-validation-error span {
    color: red;
}

input.input-validation-error, select.input-validation-error {
    border: 1px solid red !important;
}

.validation-summary-errors {
    color: red;
}

.error, .error span {
    color: red;
}

/* ---------------------------------------------------
    MAIN CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fafbff;
}

#content.active {
    width: 100%;
}

#content .main-content {
    padding: 20px;
}

.content-item {
    background-color: white;
    padding: 1.2rem;
    border: 1px solid rgba(221,221,221,0.6);
    /*-webkit-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.6);*/
    /*-moz-box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.6);*/
    /*box-shadow: 3px 3px 10px 3px rgba(221,221,221,0.6);*/
}

.featherlight-content iframe body, .featherlight-content iframe html {
    overflow: hidden
}

.ui-sortable {
    cursor: pointer;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
}
