@using MrCMS.Web.Apps.Articles.Pages
@model MrCMS.Web.Apps.Articles.Widgets.ArticleCategories
@{
    var list = ViewData["ArticleLists"] as ArticleList;
}
@{
    if (Model.ShowNameAsTitle)
    {
        <h4>@Model.Name</h4>
    }
}
<ul class="nav nav-pills nav-stacked">
    @foreach (var category in Model.ArticleList.DocumentTags)
    {
        <li class="@((!string.IsNullOrEmpty(Model.Category) && Model.Category == category.Tag.Name) ? "active" : "")">
            <a href="/@Model.ArticleList.UrlSegment?category=@category.Tag.Name">@category.Tag.Name</a>
        </li>
    }
</ul>
