@model int
@if (Model > 0)
{
    <p>Files to migrate: @Model</p>

    using (Html.BeginForm("Migrate", "FileMigration", FormMethod.Post))
    {
        <input type="text" value="100" name="number" />
        <br/>
    <input type="submit" value="Migrate" class="btn btn-mini btn-primary" />
    }
}