@model dynamic

@{
    ViewBag.Title = "Clear Caches";
    var cleared = ViewData["cleared"] is bool && (bool)ViewData["cleared"];
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Resource("Admin Clear Caches", "Clear Caches")
            <span class="btn-group display-inline pull-right">
                <input type="submit" class="btn btn-primary" value="@Resource("Clear")" />
            </span>
        </legend>
        <div class="row">
            <div class="col-lg-12">
                <p>@Resource("Admin Caches Clear", "Click 'clear' to clear database cache"). </p>
                @if (cleared)
                {
                    <div class="alert alert-success">
                        @Resource("Admin Caches Clear Success", "Caches successfully cleared").
                    </div>
                }
            </div>
        </div>
    </fieldset>
}