@using MrCMS.Helpers
@using MrCMS.Web.Apps.Admin.Models
@model MrCMS.Web.Apps.Admin.Models.WebpageSearchQuery

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}


<admin-header>
    <row>
        <admin-header-title title="@Html.Resource("admin-search", "Search") "/>

        <admin-header-actions>
        </admin-header-actions>
    </row>
</admin-header>

<card>
    <card-body>
        @using (Html.BeginForm("Results", "WebpageSearch", new {Model.ParentId}, FormMethod.Post, null, new {data_webpage_search_form = true}))
        {
            <div class="input-group">
                @Html.TextBoxFor(query => query.Query, new {@class = "form-control", autocomplete = "off", placeholder = "Search"})
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">@Html.Resource("Search")</button>
                </span>
            </div>
        }

        <br/>

        @{ await Html.RenderPartialAsync("Results", Model, ViewData); }

    </card-body>
</card>


@{ Html.IncludeScript("~/Areas/Admin/scripts/async-paging.js"); }
@{ Html.IncludeScript("~/Areas/Admin/scripts/webpage-search.js"); }