@model MrCMS.Entities.Documents.Web.ContentVersion

@foreach (var block in Model.Blocks.Where(f => !f.IsHidden).OrderBy(f => f.Order))
{
    var contentBlock = block.DeserializeData();
    <div data-content-block-id="@block.Id" class="mrcms-preview-block">
        @{
            await Html.RenderPartialAsync($"ContentBlocks/{contentBlock.GetType().Name}", contentBlock);
        }
    </div>
}