@model MrCMS.Messages.MessageTemplate
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("DeleteSiteOverride", "MessageTemplate", new {type = Model.GetType().FullName}, FormMethod.Post))
{
    <h1 class="page-header">
        @await Html.Resource("Delete Site Override")
        <span class="btn-group pull-right">
            <input type="submit" class="btn btn-danger" value="@await Html.Resource("Delete", configureOptions=> configureOptions.DisableInlineEditing())"/>
        </span>
    </h1>

    @Html.InfoBlock(await Html.PlainResource("Warning"), await Html.PlainResource("Admin Message Template Site Override Delete Warning", "Are you sure you want to delete this message template override? This action cannot be undone"), AlertType.danger)
}