@import url("../bootstrap/css/bootstrap.min.css");
@import url("../bootstrap/css/bootstrap-responsive.min.css");

html, body {background: #f6f6f6; font-family:helvetica, arial, verdana, sans-serif;color:#676767;}
.logo-container {background: #212121 url('../images/header-bg.jpg') fixed;height: 130px; }
.nav-container { position:relative;}

footer {background: #2c2c2c;margin-top: 20px;min-height: 300px;padding-top: 20px;color:white;}
footer a {color:white;}
footer a:hover {color:#00addf;}
footer h4 {font-size:18px;margin: 10px 0;padding-bottom: 10px;border-bottom: 1px solid #cdcdcd;}
footer .blog-links a, .contact-details a {color: #00addf;display: block;}
footer .blog-links a:hover, .contact-details a:hover {color: #fff;}
footer ul.footer-twitter { list-style: none;padding: 0;margin: 0;font-size: 13px;}
footer ul.footer-twitter li { margin-bottom: 20px;}
footer ul.footer-twitter a { color:#00addf; }
footer ul.footer-twitter a:hover { color:white; }


footer {background: #000 url('../images/footer-bg.jpg') center no-repeat;}

/*a {color:black;font-weight:normal;}
a:hover {color:#00addf;text-decoration:none;}
a span {color:#00addf;}
.logo {}
.logo-container {background: #212121; padding-top: 10px; padding-bottom: 5px;}
.main-container {margin-top: 20px;}

.logo-small {display:none;}

a.invert {color:#00addf;}
a.invert:hover {color:black;}

.margin-top-0 { margin-top: 0px;}


3 column layout styles
section.middle-col h1 {margin-top: 0px; padding-top: 0px; font-size: 24px; line-height: 24px; margin-bottom:20px;}
section.middle-col h2 {padding-top: 0px; font-size: 20px; line-height: 24px; margin-bottom:10px;margin-top: 20px;}
#breadcrumb.breadcrumb {margin: 10px 5px; padding: 0; font-size: 13px;}
#breadcrumb.breadcrumb a {color:#00addf;}
#breadcrumb.breadcrumb a:hover {color:#000;}
.nav-pills > .active > a, .nav-pills > .active > a:hover {background: black; border-radius:0px;}
.nav-pills > .non-active > a, .nav-pills > .non-active > a:hover {background: #e5e5e5; border-radius:0px;}
.nav-pills > .non-active > a:hover {background: #000; border-radius:0px; color:#fff;}
section.right-col h3 {margin-top: 0; font-size: 18px;}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {color:white;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {color:#00addf;}

h1, h2, h3, h4, h5, h6 {color:#444444;font-weight:normal;}

nav {display:block;}
nav .navbar-inner {}
.headerlinks {}
ul.headerlinks {margin:0;padding:0;list-style:none;float: right;}
ul.headerlinks li {margin:0;padding:0;display:inline;}
.margin-top-10 {margin-top:10px;}
section.slider {}
section.services {margin-top: 20px;}
section.services h2 {font-size:18px;margin: 10px 0;padding-bottom: 10px;line-height:20px;border-bottom: 1px solid #cdcdcd;}
section.recent-work {margin-top: 10px;}



When hding nav change the layout a little
@media (max-width: 979px) {
	.main-container {margin-top: -20px;}
	.logo-container {display: none;}
	.nav-container {margin-top: 0px;}
	.logo-small {display:block; display:inline; padding: 5px 10px;}
}


.blog-ico { width: 91px;height: 112px;background: url(../images/blog-ico.png) no-repeat 0 0;color: white;font-size: 16px;margin-left: 10px;cursor: pointer;}
.blog-date { padding: 10px 0; border-bottom: 1px dotted #ffffff;font-weight: bold;text-align: center;}
.blog-month { text-align: center;font-size: 11px;}
.blog-image { margin-bottom: 10px;}
.blog-list-item { margin-bottom: 20px;}
h1.blog-item  { font-size: 24px;}

 one column page css 
.margin-top-minus-5 { margin-top: -5px;}
.margin-top-minus-10 { margin-top: -10px;}
.margin-top-minus-20 { margin-top: -20px;}
.margin-top-bottom { padding: 20px 0;}
.margin-left-right { padding: 0 20px;}
.margin-20 { margin: 20px;}
.padding-top-bottom { padding: 20px 0;}
.padding-left-right { padding: 0 20px;}
.padding-20 { padding: 20px;}

ul.portfolio { margin: 0;padding: 0;}
ul.portfolio li { margin: 0;padding: 0 10px;list-style-type: none;color: #00addf;font-weight: bold;display:inline-block;}
ul.portfolio li:first-child { margin: 0;padding: 0 10px 0 0;}
ul.portfolio li a { color: #121212;font-size: 16px;font-weight: normal;display: inline-block;padding: 10px;}
ul.portfolio li a:hover, ul.portfolio li a.active { background: #e5e5e5;}
.portfolio-items { margin-left: 0;}
.portfolio-items .span3 { float: left;margin: 10px 20px 10px 0;}
h4.related-portfolio { margin-bottom: 0px;font-size: 18px;line-height: 22px;margin-top: 30px;}

.portfolio-h1 {font-size: 18px; line-height: 22px;}
.portfolio-h4 {font-size: 16px; margin-top: 20px;}

.moreimages-container {width: 120px; height: 120px; background: url(/Content/images/portfolio-thumbs-bg.gif); overflow: hidden; position: relative; float: left;margin-bottom: 30px;}
.moreimages-margin-right-30 { margin-right: 30px; }
.moreimages-magnify {position: absolute; bottom: 7px; right: 5px;}
.moreimages-bottom {position: absolute; bottom: 0px; left: 0px;}
.moreimages-item-container {text-align: center; padding-top: 8px;}

.image-con { text-align: center;}
.description-con { color: #666666;padding: 10px 0;vertical-align: bottom;min-height: 40px;}
.description-con a { color: #666666;font-weight: normal;}
.sub-header { font-size: 24px;line-height: 28px;color: #666666;font-weight: bold;}
.sub-content { padding: 10px 0 20px 0;}
.contact a { color: #00addf;}
.contact a:hover { color: #000000;}
.contact .form-inline .control-group .control-label { font-size: 18px;line-height: 24px;color: #666666;}
.message { width: 100%;height: 189px;}

input.input-validation-error, textarea.input-validation-error { border-color: red; }*/