html, body {background: #f6f6f6; font-family:helvetica, arial, verdana, sans-serif;}
.logo-container {background: #212121 url('/Content/images/header-bg.jpg') fixed;height: 130px; }
.nav-container { position:relative;}

footer {background: #2c2c2c;margin-top: 20px;min-height: 300px;padding-top: 20px;color:white;}
footer a {color:white;}
footer a:hover {color:#00addf;}
footer h4 {font-size:18px;margin: 10px 0;padding-bottom: 10px;border-bottom: 1px solid #cdcdcd;}
footer .blog-links a, .contact-details a {color: #00addf;display: block;}
footer .blog-links a:hover, .contact-details a:hover {color: #fff;}
footer ul.footer-twitter { list-style: none;padding: 0;margin: 0;font-size: 13px;}
footer ul.footer-twitter li { margin-bottom: 20px;}
footer ul.footer-twitter a { color:#00addf; }
footer ul.footer-twitter a:hover { color:white; }


footer {background: #000 url('/Content/images/footer-bg.jpg') center no-repeat;}