@model MrCMS.Web.Apps.Articles.Pages.ArticleList 
@if (Model != null)
{
    <ul class="nav nav-pills nav-stacked">
        @foreach (var category in Model.Tags)
        {
            <li><a href="/@Model.LiveUrlSegment?category=@category.Name">@category.Name (@Model.PublishedChildren.Count(page => page.Tags.Contains(category)))</a></li>
        }
    </ul>
}