@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.ContentBlocks.OneColumnTextImageBlock

<div class="row">
    <div class="col">
        <div class="white-bg mb-5">
            @if (!string.IsNullOrWhiteSpace(Model.Link))
            {
                <a href="@Model.Link">
                    @Html.RenderImage(Model.Image, attributes: new {@class = "img-fluid"})
                </a>
            }
            else
            {
                @Html.RenderImage(Model.Image, attributes: new { @class = "img-fluid" })
            }
            @if (!string.IsNullOrWhiteSpace(Model.Text))
            {
                <div class="p-5">@Html.Raw(Model.Text)</div>
            }
        </div>
    </div>
</div>
