@model MrCMS.Web.Apps.Core.ContentBlocks.PlainBlock

<div class="row">
    <div class="col">
        <div class="mb-5">
            <div class="p-5">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>
</div>
