@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormListOption
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("DeleteOption", "Form", FormMethod.Post))
{
    <fieldset>
        <legend>Delete option
        <span class="btn-group  display-inline  pull-right">
            <input type="button" class="btn btn-danger submit-form-btn" value="Delete form option" />

        </span>
        </legend>

        Are you sure you want to delete the option @Model.Value? Deleting this option can not be undone.
    </fieldset>
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/form-builder.js"); }