@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormProperty
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("DeleteProperty", "Form", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Field
            <span class="btn-group  display-inline  pull-right">
                <input type="button" class="btn btn-danger submit-form-btn" value="Delete field" />
            </span>
        </legend>

        Are you sure you want to delete the field @Model.Name? Deleting this property can not be undone.
    </fieldset>
}

@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/form-builder.js"); }