@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormProperty
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("DeleteProperty", "Form", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Form Property</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the Property @Model.Name? Deleting this property can not be undone.
        <br />
    </div>
}
<div class="modal-footer">
    <input type="button" class="btn-primary btn submit-form-btn" value="Delete form property" />
</div>
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/form-builder.js"); }