@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormListOption

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("DeleteOption", "Form", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Option</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the option @Model.Value? Deleting this option can not be undone.
        <br />
    </div>
}
<div class="modal-footer">
    <input type="button" class="btn-primary btn submit-form-btn" value="Delete form option" />
</div>
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/form-builder.js"); }