@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormProperties.FormListOption
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("EditOption", "Form", FormMethod.Post, new { @class = "form-update-form" }))
{
    <fieldset>
        <legend>Edit option
        <span class="btn-group  display-inline  pull-right">
            <input type="button" class="btn-primary btn submit-form-btn" value="Update form option" />
        </span>
        </legend>

        @Html.LabelFor(option => option.Value)
        @Html.TextBoxFor(option => option.Value)
        @Html.LabelFor(option => option.Selected)
        @Html.CheckBoxFor(option => option.Selected)

    </fieldset>
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/custom/form-builder.js"); }