@model MrCMS.Settings.SecuritySettings

<form asp-controller="SecurityOptions" asp-action="Settings" method="post">

    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin-security-config", "Security Configuration") "/>

            <admin-header-actions>
                <button class="btn btn-primary">
                    @await Html.Resource("Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>


    <div class="form-group">
        @Html.EditorFor(x => x.LogLoginAttempts)
    </div>
    <div class="form-group">
        @Html.EditorFor(x => x.SendLoginNotificationEmails)
    </div>
    <div class="form-group">
        @Html.EditorFor(x => x.SendScriptChangeNotificationEmails)
    </div>


</form>