@using MrCMS.Helpers
@model MrCMS.Entities.Widget.Widget
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Widget", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;", @target = "_top" }))
{
    <fieldset>
        <legend>Confirm Delete

        <span class="btn-group  display-inline  pull-right">
            <input type="submit" class="btn btn-danger" value="Confirm Delete Widget" />
        </span>
        </legend>
        @if (Request.UrlReferrer != null)
        {
            <text>
                @Html.Hidden("returnUrl", Request.UrlReferrer.ToString())
            </text>
        }
        
    @Html.InfoBlock("WARNING", "<p>Deleting this widget can not be undone.</p>")
    </fieldset>
}