@using MrCMS.Helpers
@model MrCMS.Entities.Widget.Widget
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Widget", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;", @target = "_top" }))
{
    <fieldset>
        <legend>@Resource("Admin Widget Confirm Delete", "Confirm Delete")

        <span class="btn-group  display-inline  pull-right">
            <input type="submit" class="btn btn-danger" value="@Resource("Delete")" />
        </span>
        </legend>
        @if (Request.UrlReferrer != null)
        {
            <text>
                @Html.Hidden("returnUrl", Request.UrlReferrer.ToString())
            </text>
        }
        
        @Html.InfoBlock(Resource("Heads up") + "!", Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
    </fieldset>
}   