@model MrCMS.Entities.Widget.Widget
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
<div class="modal-header">
    <h3 id="myModalLabel">Confirm delete</h3>
</div>
<div class="modal-body">
    <p>Deleting this widget can not be undone.</p>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Widget", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
    {
        if (Request.UrlReferrer != null)
        {
        <text>
        @Html.Hidden("returnUrl", Request.UrlReferrer.ToString())
        </text>
        }
        <input type="submit" class="btn btn-primary" value="Confirm Delete Widget" />
    }
</div>
