@model MrCMS.Entities.Widget.PlainTextWidget
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-page-edit" href="#text-widget">Text Widget Properties</a>
    </div>
    <div id="text-widget" class="accordion-body collapse in">
        <div class="accordion-inner">
            @Html.LabelFor(widget => widget.Text)
            @Html.TextAreaFor(widget => widget.Text)
        </div>
    </div>
</div>
