@model MrCMS.Web.Admin.Models.Content.UpdateContentTextAdminModel

<div class="form-group">
    <label asp-for="Text"></label>
    <textarea asp-for="Text" class="ckedit-enabled"></textarea>
    <span asp-validation-for="Text"></span>
</div>