@model MrCMS.Web.Admin.Models.Content.UpdateContentImageAdminModel

<div class="form-group">
    <label asp-for="Url" class="w-100"></label>
    <input type="text" asp-for="Url" data-type="media-selector"/>
</div> 

