@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

@{ Html.RenderPartial("Navbar"); }

<div class="container-mrcms" style="padding-left: 0;">
    <div class="main-content">
        <div class="inner-content">
            <section class="admin-header">
                @{ Html.RenderPartial("Messages");}
            </section>
            @RenderBody()
        </div>
    </div>
</div>
<footer>
    <hr />
    <img src="/Areas/Admin/Content/Images/logo.png" class="display-inline" style="margin-left: 20px;" />
    <p class="display-inline">
        &copy; Mr CMS 2012-@CurrentRequestData.Now.Year - v@(Html.AssemblyVersion()) - Installed apps: @MrCMSApp.CurrentAppSummary
    </p>
</footer>

@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () => Write(RenderSection("JavaScriptBlock")));
}
