@using MrCMS.Helpers
@using MrCMS.Web.Apps.Admin.ViewComponents
@using MrCMS.Website
<div class="left-nav">
@*    @{ Html.RenderAction("Get", "NavLinks");}*@
    <vc:nav-links></vc:nav-links>
    @*@(await Component.InvokeAsync<NavLinksViewComponent>())*@
</div>
