@using MrCMS.Entities.Multisite
@using MrCMS.Services
@model dynamic
@inject IGetCurrentUser _getCurrentUser
@inject ICurrentSiteLocator _siteLocator

<div class="card">
    <div class="card-body">

        @{
            var user = await _getCurrentUser.Get();
            var currentSite = _siteLocator.GetCurrentSite();
        }
        @(string.Format(await Html.Resource("admin-dashboard-greeting", "Welcome {0}, you are currently administering web site {1}"), user.Name, currentSite.DisplayName)).
    </div>
</div>