@model MrCMS.Entities.Documents.Media.MediaCategory
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "MediaCategory", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Delete folder
                <span class="btn-group  display-inline  pull-right">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </span>
        </legend>
        <p>Deleting this cannot be undone.</p>
    </fieldset>
}
