@using MrCMS.Entities.Documents.Media
@using MrCMS.Helpers
@{
    ViewBag.Title = "Manage Media";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-uploader.js");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media-category.js");
}

<div class="inline-buttons-container">
    <h1 class="page-header">@Resource("Admin Nav Media", "Media")</h1>
    <div class="btn-group">
        <a href="@Url.Action("Add", "MediaCategory")" class="btn btn-primary">New Folder</a>
    </div>
</div>

@{ Html.RenderAction("Upload", "MediaCategory"); }
<hr class="small-margin" />
@{ Html.RenderAction("ShowFolders");}

@{ Html.RenderAction("ShowFiles");}

@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/media.js"); }
