@model int
@using (Html.BeginForm("Files", "File", new { id = Model }, FormMethod.Post, new { id = "fileupload", enctype = "multipart/form-data", @class = "form-fileUpload" }))
{
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row-fluid fileupload-buttonbar">
        <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button"><i class="icon-plus icon-white"></i><span>Add files...</span>
                <input type="file" name="files[]">
            </span>
        </div>
        <!-- The global progress information -->
       
    </div>

    <!-- The loading indicator is shown during file processing -->
    <div class="fileupload-loading">
    </div>
}

<script id="template-upload" type="text/x-tmpl"></script>
<script id="template-download" type="text/x-tmpl"></script>