@model List<MrCMS.Models.SortItem>
@{
    ViewBag.Title = "Sort Catgeories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section JavaScriptBlock
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sortable").sortable({
                update: function (event, ui) {
                    $('#sortable li').each(function (index, domElement) {
                        $(domElement).find('[name*="Order"]').val(index);
                    });
                }
            });
        });
    </script>
}
<div class="row-fluid">
    <div class="span7">
        <h3>Sort</h3>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span10" style="margin: 0; padding: 0;">
            </div>
            <div class="span2">
                <button class="btn btn-primary" id="save" data-form-id="sort-media-category" data-action="save">
                    Save</button>
            </div>
        </div>
    </div>
</div>
<hr class="small-margin" />
<form method="POST" id="sort-media-category">
    <ul id="sortable">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                @Html.HiddenFor(model => model[i].Id)
                @Html.HiddenFor(model => model[i].Order)
                <i class="icon-resize-full"></i>&nbsp;&nbsp;
                @Model[i].Name
            </li>
        }
    </ul>
</form>
<div class="alert alert-info">
    Drag items in to the order you would like then click save.
</div>