@using MrCMS.Entities.Documents.Media
@model MrCMS.Entities.Documents.Media.MediaCategory

@if (Model != null && Model.Files.Count > 0)
{
    foreach (MediaFile file in Model.Files)
    {
        <tr>
            <td>@Html.CheckBox(@file.Id.ToString(), true, null)</td>
            <td><img style="height: 50px; width: auto;" src="/@file.FileLocation" alt=""/></td>
        </tr>
    }
}