@using MrCMS.Helpers
@model MrCMS.Web.Apps.Articles.Widgets.ArticleCategories
<div class="form-group">
    @Html.DropDownListFor(x => x.ArticleList.Id, ViewData["ArticleLists"] as IEnumerable<SelectListItem>, new { data_val = "true", data_val_required = "Article list needs to be selected.", @class = "form-control" })
</div>
<div class="form-group">
    @Html.InlineCheckboxFor(x => x.ShowNameAsTitle)
</div>