@using MrCMS.Website
@model MrCMS.Web.Apps.Core.ContentBlocks.TwoColumnBlock 

<div class="row content-grids">
    <div class="col-sm-6">
        <div class="white-bg mb-5">
            <div class="p-5">@Html.Editable(x=>x.Text)</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-bg mb-5">
            <div class="p-5">@Html.Editable(x=>x.Text2)</div>
        </div>
    </div>
</div>