@model MrCMS.Web.Admin.Models.AddLayoutModel
@{
    ViewBag.Title = "Add Layout";
}
<form asp-controller="Layout" asp-action="Add" method="post" id="add-layout">

    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin-add-layout", "Add Layout") "/>

            <admin-header-actions>
                <button class="btn btn-primary">
                    @await Html.Resource("admin-add", "Add")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <input type="hidden" asp-for="ParentId"/>
    
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlSegment"></label>
        <input type="text" asp-for="UrlSegment" class="form-control"/>
        <span asp-validation-for="UrlSegment"></span>
    </div>

</form>