@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Models.Search
@model WebpageSearchQuery

@using (Html.BeginForm(FormMethod.Get, new { }))
{
    <div class="input-group">
        @Html.TextBoxFor(x => x.Term, new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
}