@model MrCMS.Web.Apps.Articles.Entities.AuthorInfo
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "AuthorInfo", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>Author information
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Author Info" />
            </span>
        </legend>
        @Html.HiddenFor(info => info.User.Id)
        <div class="form-group">
            @Html.LabelFor(info => info.Bio)
            @Html.TextAreaFor(info => info.Bio, new{@class="form-control"})
            @Html.ValidationMessageFor(info => info.Bio)
        </div>
    </fieldset>
}