@using MrCMS.Services.Resources
@using MrCMS.Web.Apps.Admin.Helpers
@using MrCMS.Web.Apps.Admin.Infrastructure.Dashboard
@model MrCMS.Web.Apps.Admin.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
}
<h1 class="page-header">@Html.Resource("Dashboard")</h1>
@await Component.RenderDashboardArea(DashboardArea.Top)

<hr />
<div class="row">
    <div class="col-md-6">
        @await Component.RenderDashboardArea(DashboardArea.LeftColumn)
    </div>
    <div class="col-md-6">
        @await Component.RenderDashboardArea(DashboardArea.RightColumn)
    </div>
</div>
<hr />