@using MrCMS.Entities.People
@using MrCMS.Web.Admin.Infrastructure.Models.Tabs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MrCMS.Web.Admin.Infrastructure.Models.Tabs.AdminTabBase<User>
@{
    var isFirst = ViewData["is-first"] is bool b && b;
    var user = ViewData["user"] as User;
}

@if (Model is AdminTab<User> tab)
{
    <li class="nav-item">
        <a href="#@tab.TabHtmlId" data-toggle="tab" class="nav-link @(isFirst ? "active" : "")">@await tab.Name(Html, user)</a>
    </li>
}
else if (Model is AdminTabGroup<User> @group)
{
    <li class="nav-item">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link @(isFirst ? "active dropdown" : "dropdown")">@(@group.Name(Html, user))&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var child in @group.Children)
            {
                <partial name="Tab" model="child" view-data="ViewData"/>
            }
        </ul>
    </li>
}