@using MrCMS.Helpers
@model MrCMS.Web.Apps.Admin.Models.UpdateWidgetModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Widget", new { id = Model.Id }, FormMethod.Post, null, new { style = "display:inline;", @target = "_top" }))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Widget Confirm Delete", "Confirm Delete")

        <span class="btn-group  d-inline  pull-right">
            <input type="submit" class="btn btn-danger" value="@Html.Resource("Delete")" />
        </span>
    </legend>
    @if (Context.Request.Referer() != null)
    {
        <text>
            @Html.Hidden("returnUrl", Context.Request.Referer())
        </text>
    }

    @Html.InfoBlock(Html.Resource("Heads up") + "!", Html.Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
</fieldset>
}   