@model dynamic

<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">Notifications: <span data-notification-count="true">-</span> <b class="caret"></b></a>
        <div class="dropdown-menu" style="padding-bottom: 0; width: 350px;">
            @using (Html.BeginForm("MarkAllAsRead", "PersistentNotification", FormMethod.Post, new { @style = "margin:0", data_mark_all_as_read = true }))
            {
                <div class="row-fluid">
                    <button type="submit" class="btn btn-primary btn-mini span12">
                        Mark all as read
                    </button>
                </div>
            }
            <ul data-notification-list="true">
                <li>No notifications</li>
            </ul>
        </div>
    </li>
</ul>
