@model List<MrCMS.Settings.SiteSettingsBase>
@{
    ViewBag.Title = "Edit Settings";
}
<section class="admin-header">
    @if (TempData["settings-saved"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Settings saved
        </div>
    }
</section>

@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { id = "edit-settings" }))
{
    <fieldset>
        <legend>Global Settings

        <span class="btn-group  display-inline  pull-right">
            <button class="btn btn-primary">
                Save</button>
        </span>
        </legend>

        <div id="tabs">
            <ul class="nav nav-tabs" data-stickytabs="site-settings">
                @foreach (var settingType in Model)
                {
                    <li><a href="#@settingType.DivId" data-toggle="tab">@settingType.TypeName</a></li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var settingType in Model)
                {
                    Html.RenderPartial("Settings", settingType);
                }
            </div>
        </div>
    </fieldset>
}