@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using MrCMS.Helpers
@model string
@using (Html.BeginForm("ImportLegacyTemplate", "MessageTemplate", new { type = Model }, FormMethod.Post))
{

    <h1 class="page-header">
        @Resource("Import Legacy Message Template")
        <span class="btn-group  display-inline  pull-right">
            <input type="submit" class="btn btn-primary" value="@Resource("Import")" />
        </span>
    </h1>

    @Resource("Admin Message Template Import Legacy", "Are you sure you want to import the legacy message template? This action cannot be undone.")
}

