@model MrCMS.Entities.Messaging.MessageTemplate
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Reset", "MessageTemplate", new { id = Model.Id }, FormMethod.Post))
{
    <fieldset>
        <legend>Reset Message Template
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-danger" value="Reset & Close" />
            </span>
        </legend>
        Are you sure you want to reset this message template? This action cannot be undone.
    </fieldset>
}

