@model MrCMS.Web.Admin.Models.PushNotificationSearchModel

@* <form asp-controller="PushNotification" asp-action="Index" method="get"> *@
@*     <div class="row"> *@
@*         <div class="col-md-6"> *@
@*             <label asp-for=""></label>    *@
@*         </div> *@
@*         <div class="col-md-6"> *@
@*              *@
@*         </div> *@
@*     </div> *@
@* </form> *@