@using System.Collections.Generic
@using MrCMS.Helpers
@model System.Collections.Generic.IEnumerable<SelectListItem>
<div class="modal-header">
    <h3>Select file</h3>
</div>
<div class="modal-body" id="file-selector">
    @Html.Label("Category")
    @Html.DropDownList("Category", Model)
    @Html.Label("File")
    @Html.DropDownList("File", new List<SelectListItem> { new SelectListItem { Text = "Select an file...", Value = "" } }, new { disabled = "disabled" })
    <div id="file-selector-uploader">
    </div>
    <div id="file-selector-uploader-result">
    </div>
</div>
<div class="modal-footer">
    <input type="button" class="btn-primary btn" id="set-file" value="Select File" />
</div>
