@using MrCMS.Installation.Models
@model InstallModel
@{
    ViewBag.Title = "MrCMS Installation - Requires settings";
    Layout = "~/Installation/Views/Install/_Layout.cshtml";
}

<h1>Create Blank Database</h1>


<p>
    Please create a blank database and add configuration as below in a file called connectionstrings.json.
</p>
<p>
    e.g. Create a file with the following and place it in MrCMS.Web/connectionstrings.json. Once done, please restart your application.
</p>
<pre>
<code>
    {
      "ConnectionStrings": {
        "mrcms": "Data Source=localhost;Initial Catalog=mrcms;Integrated Security=True;Persist Security Info=False;MultipleActiveResultSets=True"
      },
      "Database": {
        "DatabaseProviderType": "MrCMS.DbConfiguration.SqlServer2012Provider"
      }
    }
</code>
</pre>
