@model MrCMS.Web.Admin.Models.Content.ContentVersionModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

<div class="content-admin" data-content-admin>
    <div class="header" data-content-admin-header>
        <h1>Content Editor</h1>
        <div class="btn-group">
            <a class="btn btn-secondary" asp-controller="Webpage" asp-action="Edit" asp-route-id="@Model.WebpageId">Back to Page</a>
        </div>
    </div>
    <div class="main">
        <div class="left-nav" data-content-admin-nav>
            <div class="card h-100 m-0 row flex-column">
                <h3 class="card-header col-auto">
                    Blocks
                </h3>
                <div class="card-body p-0 col">
                    <div data-content-admin-blocks="@Url.Action("Blocks", "ContentVersion", new {Model.Id})" class="content">
                    </div>
                </div>
                <div class="card-footer col-auto">
                    <a class="btn btn-block btn-success" asp-controller="ContentBlock" asp-action="Add" asp-route-id="@Model.Id" data-toggle="fb-modal">Add section</a>
                </div>
            </div>
        </div>
        <main class="preview" data-content-admin-preview>
            <iframe id="content-admin-preview-pane" data-content-admin-preview-pane src="@Model.PreviewUrl"></iframe>
        </main>
        <div class="right-nav bg-white" data-content-parent>
            <button type="button" class="cancel-button btn btn-sm btn-link mx-n3 mt-n4" data-content-admin-hide-editor>
                <i class="fa fa-times text-secondary"></i>
            </button>
            <div data-content-admin-editor>
            </div>
        </div>
    </div>
</div>