@model MrCMS.Web.Apps.Core.Entities.ContentBlocks.Quote

<blockquote class="blockquote @Model.CssClasses">
    <p>@Model.QuoteText</p>
    <footer class="blockquote-footer">@Model.QuoteFooter</footer>
</blockquote>