@model MrCMS.Web.Apps.Core.Entities.ContentBlocks.Text

@if (!string.IsNullOrWhiteSpace(Model.Heading))
{
    <h2 class="text-@(Model.HeadingAlignment.ToString().ToLower())">
        @Model.Heading
    </h2>
}
@Html.Raw(Model.Subtext)