@model MrCMS.Web.Apps.Articles.Models.LatestXArticlesViewModel
@if (Model != null)
{
    if (!string.IsNullOrEmpty(Model.Title))
    {
        <h4>@Model.Title</h4>
    }

    foreach (var article in Model.Articles)
    {
        <h4>
            <a href="/@article.UrlSegment">
                @article.Name
            </a>
        </h4>
    }
}