@model MrCMS.Web.Admin.Models.ContentBlocks.UpdateContentBlockViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("Delete", "ContentBlock", FormMethod.Post))
{
    <fieldset>
        <legend>
            @Html.Resource("Delete Content Block")
            <span class="btn-group pull-right">
                <button type="submit" class="btn btn-danger">@Html.Resource("Delete")</button>
            </span>
        </legend>
        @Html.HiddenFor(block => block.Id)

        <p>
            @Html.Resource("Content Block - Delete", "Are you sure you wish to delete this content block? This can not be undone!")
        </p>

    </fieldset>
}