@using MrCMS.Entities.Documents
@using MrCMS.Web.Admin.Infrastructure.Helpers
@model MrCMS.Web.Admin.Models.ContentBlocks.UpdateContentBlockViewModel
@{
    var contentBlock = ViewData["block"] as ContentBlock;
}

<form asp-action="Edit" asp-controller="ContentBlock" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="WebpageId"/>

    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>@await Html.Resource("admin-update", "Update") @Model.Name</h1>
                </div>
                <div class="col">
                    <span class="btn-group pull-right">
                        <a href="@Url.Action("Edit", "Webpage", new {Id = Model.WebpageId})" class="btn btn-secondary">@await Html.Resource("admin-back", "Back")</a>
                        <button type="submit" class="btn btn-primary">@await Html.Resource("admin-save", "Save")</button>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="card">
        <div class="card-body">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>

                @await Html.RenderUpdateCustomAdminProperties(contentBlock)

            </fieldset>
        </div>
    </div>
</form>