@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.Webpage
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="span9">
        <section>
            @RenderBody()
        </section>
    </div>
    <div class="span3">
        @Html.RenderZone("Right Column")
    </div>
</div>
