@model IEnumerable<Microsoft.Owin.Security.AuthenticationDescription>
@{
    if (Model.Any())
    {
    <h4>Use another service to login</h4>
    <div id="socialLoginList">
        <p>
            @foreach (var p in Model)
            {
                Html.RenderPartial(p.Caption, p);
            }
        </p>
    </div>
    }
}