<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="CsQuery" version="1.3.4" targetFramework="net462" />
  <package id="elmah" version="1.2.2" targetFramework="net462" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net462" />
  <package id="EPPlus" version="4.1.0" targetFramework="net462" />
  <package id="evernote-cloud-sdk-windows" version="1.0.8" targetFramework="net462" />
  <package id="Facebook" version="7.0.6" targetFramework="net462" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net462" />
  <package id="foolproof" version="0.9.4517" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.5.5" targetFramework="net462" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net462" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Google" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net462" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net462" />
  <package id="NHibernate.Caches.SysCache2" version="4.0.0.4000" targetFramework="net462" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net462" />
  <package id="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net462" />
  <package id="Ninject.MVC3" version="3.2.1.0" targetFramework="net462" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net462" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Owin.Security.Providers" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.ArcGISOnline" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Asana" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Backlog" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Baidu" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.BattleNet" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Bitbucket" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Box" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Buffer" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Cosign" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.DeviantArt" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Discord" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.DoYouBuzz" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Dropbox" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.EVEOnline" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Evernote" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Fitbit" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Flickr" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Foursquare" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Geni" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.GitHub" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Gitter" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.GooglePlus" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.HealthGraph" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Imgur" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Instagram" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.LinkedIn" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.MyHeritage" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Onshape" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.OpenID" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.OpenIDBase" version="2.1.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Orcid" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.PayPal" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Reddit" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Salesforce" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Shopify" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.SlackProvider" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.SoundCloud" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Spotify" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.StackExchange" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Steam" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.TripIt" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Twitch" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Untappd" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Vimeo" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.VisualStudio" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.VKontakte" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Wargaming" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.WordPress" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.WSO2" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Xing" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Yahoo" version="2.15.1" targetFramework="net462" />
  <package id="Owin.Security.Providers.Yammer" version="2.15.1" targetFramework="net462" />
  <package id="PreMailer.Net" version="1.2.7" targetFramework="net462" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net462" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
</packages>