@using System.Linq
@using MrCMS.Entities.Documents.Web
@using MrCMS.Services
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Models.CurrentPageSubNavigationModel
@inject IGetCurrentPage GetCurrentPage
@inject IGetLiveUrl GetLiveUrl
@inject IActivePagesLoader ActivePagesLoader
@{
    var currentPage = GetCurrentPage.GetPage();
    var activePages = await ActivePagesLoader.GetActivePages(currentPage);
}
@if (Model.Model.ShowNameAsTitle)
{
    <h4>@Model.Model.Name</h4>
}
<ul class="nav nav-pills nav-stacked">
    @foreach (var item in Model.NavigationList)
    {
        <li class="@(activePages.Any(s => s.UrlSegment == item.Url.ToString()) ? "active" : "")">
            <a href="@item.Url">@item.Text</a>
        </li>
    }
</ul>
