@using MrCMS.Web.Apps.Core.Entities.ContentBlocks
@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Content.UpdateVideoAdminModel
@{
    var options = EnumHelper<Video.VideoType>.GetOptions();
}

<div class="form-group">
    @Html.LabelFor(x => x.ActiveType)
    @Html.DropDownListFor(x => x.ActiveType, options, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ActiveType)
</div>