@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Log", FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Delete all logs?
                <span class="btn-group  display-inline  pull-right">
                    <input type="submit" class="btn btn-danger" value="Delete logs" />
                </span>
        </legend>
        <p>Deleting this cannot be undone.</p>
    </fieldset>
}
