@using MrCMS.Web.Areas.Admin.Helpers
@model MrCMS.Web.Areas.Admin.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form>
    <fieldset>
        <legend>Dashboard</legend>
        @Html.RenderDashboardArea(DashboardArea.Top)
        <hr />
        <div class="row-fluid">
            <div class="span6">
                @Html.RenderDashboardArea(DashboardArea.LeftColumn)
            </div>
            <div class="span6">
                @Html.RenderDashboardArea(DashboardArea.RightColumn)
            </div>
        </div>
        <hr />
    </fieldset>
</form>
