@using MrCMS.Web.Areas.Admin.Helpers
@using MrCMS.Web.Areas.Admin.Models
@model MrCMS.Web.Areas.Admin.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="page-header">@Resource("Dashboard")</h1>
@Html.RenderDashboardArea(DashboardArea.Top)
<hr />
<div class="row">
    <div class="col-md-6">
        @Html.RenderDashboardArea(DashboardArea.LeftColumn)
    </div>
    <div class="col-md-6">
        @Html.RenderDashboardArea(DashboardArea.RightColumn)
    </div>
</div>
<hr />