@using MrCMS.Entities.Documents.Media
@using MrCMS.Services
@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Pages.TextPage
<div class="form-group">
    @Html.LabelFor(webpage => webpage.FeatureImage) <br />
    @Html.TextBoxFor(webpage => webpage.FeatureImage, new { data_type = "media-selector" })
</div>