
    html { margin-top: 40px!important; }
    #cke_editor1 { z-index: 9999; }
    .middle-col:focus { outline: none; background: #e7e7e7; }

    .modal { z-index: 100000; }
    .edit-indicator-widget { width: 20px; height: 20px; position: absolute; left: 5px; cursor: pointer; z-index: 9999; display: none; }
    .edit-indicator-layout { width: 20px; height: 20px; position: absolute; right: 0; cursor: pointer; z-index: 9999; display: none; }

    div.layout-area, div.widget { position: relative; }
    .edit-widget-menu { position: absolute; left: 0; padding: 5px; z-index: 10000; border: 1px solid #d0d0d0; background: white; display: none; }


    .edit-layout-area-menu { position: absolute; right: 0; padding: 5px; z-index: 10000; border: 1px solid #d0d0d0; background: white; display: none; }

    .edit-layout-area-menu h4, .edit-widget-menu h4 { font-size: 12px!important; font-family: arial!important; margin: 5px!important; padding: 0; }

    .edit-widget-menu ul, .edit-layout-area-menu ul { margin: 0!important; padding: 0; list-style-type: none; }
    .edit-widget-menu ul li, .edit-layout-area-menu ul li { margin: 5px!important; }

    