#cke_editor1 { z-index: 9999; }
.middle-col:focus { outline: none; background: #e7e7e7; }

#admin-edit-menu-container { position: fixed; top: 5px;color: white; font-family: arial;font-size: 14px;cursor: pointer;border: 1px solid #d0d0d0;width: 100px;z-index: 1500;}
#admin-edit-menu-container .admin-menu-items a {  color: #808080;font-size: 12px;font-family: arial;padding: 3px;}
#admin-edit-menu-container .admin-menu-items ul li { margin: 5px;}
#admin-edit-menu-container .admin-menu-items ul {margin: 0;padding: 0;list-style-type: none;}
#admin-edit-menu-container .admin-menu-items { position: relative;}
#admin-edit-menu-container .menu-handle { position: absolute;right: -38px;top: -1px;}

.gradient-bg {/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background-image: linear-gradient(bottom, #FFFFFF 31%, #C6C6C6 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 31%, #C6C6C6 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 31%, #C6C6C6 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 31%, #C6C6C6 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 31%, #C6C6C6 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.31, #FFFFFF),color-stop(1, #C6C6C6));}


.modal { z-index: 100000; }
div.layout-area, div.widget { position: relative; }
.widget { position: relative; }
.widget { position: relative; }
.edit-widget { position: absolute; right: 0; padding: 5px; z-index:9999; border: 1px solid #d0d0d0;}
.edit-widget a {color: white; font-size: 12px;font-family: arial;padding: 3px;display: block;}
.edit-indicator { width: 20px;height: 20px;position: absolute; right: 0;cursor: pointer;z-index: 1000;}
.edit-widget ul  {margin: 0!important;padding: 0;list-style-type: none;}
.edit-widget ul li {margin: 5px!important;}