@using System.Drawing
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Galleries.Pages.Gallery
@Editable(Model, page => page.BodyContent, true)
@{
    foreach (var result in Model.MediaGallery.Files.Where(file => file.IsImage).OrderBy(x => x.DisplayOrder).Chunk(3))
    {
        <div class="row margin-top-10">
            @foreach (var mediaFile in result)
            {
                <div class="col-lg-4">
                    <a href="@mediaFile.FileUrl">
                        @Html.RenderImage(mediaFile.FileUrl, new Size {Width = 800, Height = 800})
                    </a>
                </div>
            }
        </div>
    }
}
