@using MrCMS.Helpers
@model MrCMS.Entities.Documents.Web.FormPosting 
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("DeleteEntry", "Form", FormMethod.Post))
{
    <fieldset>
        <legend>@Resource("Admin Form Delete Entry Title", "Delete Entry")
        <span class="btn-group  display-inline  pull-right">
            <input type="submit" class="btn btn-danger" value="@Resource("Admin Form Delete Entry Button", "Delete entry")" />
        </span>
        </legend>
        @Resource("Admin Form Delete Entry warning", "Are you sure you want to delete this entry?")
    </fieldset>
}
