@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

<div class="wrapper">   
    <div id="sidebar" class="border-right">
        <partial name="Sidebar" />
    </div>

    <div id="content">            

        <partial name="Navbar"/>
                
        <div class="main-content px-3">
            <div class="admin-message">
                <partial name="Messages"/> 
            </div>    

            @RenderBody()             
        </div>
        
    </div> 
</div>

@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () =>
    {
        Write(RenderSection("JavaScriptBlock"));
        return Task.CompletedTask;
    });
}