@using MrCMS.Apps
@inject MrCMSAppContext AppContext
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

@{ await Html.RenderPartialAsync("Navbar"); }

<div class="container-mrcms" style="padding-left: 0;">
    <div class="main-content" data-main-content>
        <div class="inner-content">
            <section class="admin-header">
                @{ await Html.RenderPartialAsync("Messages"); }
            </section>
            @RenderBody()
        </div>
    </div>
</div>
<footer>
    <hr/>
    <img src="/Areas/Admin/Content/img/logo.png" class="d-inline" style="margin-left: 20px;"/>
    <p class="d-inline">
        &copy; Mr CMS 2012-@DateTime.Now.Year - v@(Html.AssemblyVersion()) - Installed apps: @AppContext.AppSummary
    </p>
</footer>

@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () =>
    {
        Write(RenderSection("JavaScriptBlock"));
        return Task.CompletedTask;
    });
}