@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "_LayoutRoot.cshtml";
}

<div style="min-height: 500px; width: 100%;">
    <div style="padding: 10px">@RenderBody()</div>
</div>


@if (IsSectionDefined("JavaScriptBlock"))
{
    @RenderSection("JavaScriptBlock")
}

