@using IAdminSiteListService = MrCMS.Web.Areas.Admin.Services.IAdminSiteListService
@inject IAdminSiteListService Service
@model dynamic


    @foreach (var site in Service.GetSites())
    {
        <a href="@Context.Request.Scheme://@site.BaseUrl" class="dropdown-item">@site.Name</a>
    }

