@using MrCMS.Helpers
@model MrCMS.Web.Apps.Galleries.Pages.Gallery
@{ Html.IncludeScript("~/Apps/Galleries/Areas/Admin/Content/Scripts/gallery.js");}
<div class="form-group">
    @Html.LabelFor(gallery => gallery.MediaGallery.Id, "Media Gallery")
    @Html.DropDownListFor(gallery => gallery.MediaGallery.Id, ViewData["galleries"] as IEnumerable<SelectListItem>, new { data_val = "true", data_val_required = "Gallery need to be selec  ted.", @class = "form-control" })
    <div id="manage-media"></div>
</div>
<div class="form-group">
    @Html.LabelFor(page => page.ThumbnailImage)<br />
    @Html.TextBoxFor(page => page.ThumbnailImage, new { @class = "media-selector" })
</div>