@using MrCMS.Helpers
@model MrCMS.Web.Apps.Galleries.Pages.Gallery
@{ Html.IncludeScript("~/Apps/Galleries/Areas/Admin/Content/Scripts/gallery.js");}

@Html.LabelFor(gallery => gallery.MediaGallery.Id, "Media Gallery")
<div class="form-inline" style="margin-bottom: 10px;">
    @Html.DropDownListFor(gallery => gallery.MediaGallery.Id, ViewData["galleries"] as IEnumerable<SelectListItem>, new { data_val = "true", data_val_required = "Gallery need to be selec  ted." })
    <div id="manage-media"></div>
</div>

@Html.LabelFor(page => page.ThumbnailImage)
@Html.TextBoxFor(page => page.ThumbnailImage, new { @class = "media-selector" })

