@model MrCMS.Entities.Documents.Web.UrlHistory
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }
@using (Html.BeginForm("Delete", "UrlHistory", new {Model.Id}, FormMethod.Post))
{
    <fieldset>
        <legend>
            @await Html.Resource("Admin Webpage Url History Delete", "Delete Url")
            <span class="btn-group pull-right">
                <input type="submit" class="btn-danger btn" value="Delete"/>
            </span>
        </legend>
        @Html.InfoBlock(await Html.Resource("Heads up") + "!", await Html.Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)


    </fieldset>
}