@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@model dynamic
@inject MrCMSAppContext AppContext
@{
    ViewBag.Title = "About MrCMS";
}
<fieldset>
    <legend>About</legend>
    <p>&copy; Mr CMS 2012-@DateTime.Now.Year - v@(Html.AssemblyVersion())</p>
    <p>@Html.Resource("Admin Logged in from", "Logged in from") @Context.Request.GetCurrentIP()</p>
    <h4>@Html.Resource("Admin Layout Installed apps", "Installed apps")</h4>
    <p>@AppContext.AppSummary</p>
</fieldset>