@model MrCMS.Entities.Documents.DocumentVersion
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Revert", "Versions", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Revert to version
                 <span class="btn-group  display-inline  pull-right">
                     <input type="submit" class="btn btn-primary" value="Confirm Revert Version" />
                 </span>
        </legend>
        <p>Please confirm that you want to this version of @Model.Document.Name</p>
    </fieldset>
}