@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MrCMS.Entities.Documents.Web.UrlHistory
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}

<form asp-controller="Redirects" asp-action="Remove" asp-route-id="@Model.Id">
    @Html.ReturnToReferrer()
    <fieldset>
        <legend>
            Remove
            <span class="btn-group display-inline pull-right">
                <button type="submit" class="btn btn-danger">Remove</button>
            </span>
        </legend>
        <p>
            @await Html.Resource("Redirects - Remove", "Are you sure you wish to remove'{url}'?",configureOptions=> configureOptions.AddReplacement("url",Model.UrlSegment))
        </p>
    </fieldset>
</form>