@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Pages.ForgottenPasswordPage
@{
    var message = ViewData["message"] as string;
}

@Editable(Model, page => page.BodyContent)

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @Html.Raw(message)
    </div>
}
@using (Html.BeginForm("ForgottenPassword", "Login", FormMethod.Post))
{
    <div class="row-fluid">
        <div class="span12">
            <div class="control-group">
                <div class="controls">
                    <h4>Forgotten Password?</h4>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Email">Email</label>
                <div class="controls">
                    @Html.TextBox("Email")
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Recover password" class="btn" />
                </div>
            </div>
            <a href="@( UniquePageHelper.GetUrl<LoginPage>() )">Login</a>
        </div>
    </div>
}
@{Html.IncludeScript("~/Apps/Core/Content/Scripts/forgot-password.js");}