@using MrCMS.Models.Auth
@model MrCMS.Web.Apps.Core.Pages.ForgottenPasswordPage
@{
    var message = ViewData["message"] as string;
}

@Editable(Model, page => page.BodyContent)

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success">
        @Html.Raw(message)
    </div>
}

@{Html.RenderPartial("ForgotPasswordForm", new ForgotPasswordModel());}