@using MrCMS.Helpers
@model MrCMS.Web.Apps.Core.Pages.ForgottenPasswordPage
@{
    var message = ViewData["message"] as string;
}
<div class="container">
    @if (!string.IsNullOrEmpty(message))
    {
        @Html.Raw(message)
    }
    @using (Html.BeginForm("ForgottenPassword", "Login", FormMethod.Post))
    {
        <p>&nbsp;</p>
        <div class="row">
            <div class="span2">&nbsp;</div>
            <div class="span8">
                <div class="control-group">
                    <div class="controls">
                        <h4>Forgotten Password?</h4>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Email">Email</label>
                    <div class="controls">
                        @Html.TextBox("Email")
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Recover password" class="btn" />
                    </div>
                </div>
            </div>
            <div class="span2">&nbsp;</div>
        </div>
    }
</div>
@{Html.IncludeScript("~/Apps/Core/Content/Scripts/forgot-password.js");}