@model MrCMS.Web.Apps.Core.Pages.RegisterPage

<h1>@Editable(Model, page => page.Name) </h1>
<hr />
@if (!string.IsNullOrWhiteSpace(Model.FeatureImage))
{
    @RenderImage(Model.FeatureImage, null, null, new { @class = "pull-right" })
}
@Editable(Model, page => page.BodyContent, true)

@{Html.RenderAction("RegistrationDetails", "Registration");}