@model MrCMS.Entities.Resources.StringResource
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml"; }

@using (Html.BeginForm("Delete", "Resource", new {Model.Id}, FormMethod.Post))
{
    @Html.ReturnToReferrer()
    <fieldset>
        <legend>
            @await Html.Resource("Admin Resources Delete Override", "Delete resource")
            <span class="btn-group d-inline pull-right">
                <input type="submit" class="btn-primary btn" value="@await Html.Resource("Delete", configureOptions=> configureOptions.DisableInlineEditing())"/>
            </span>
        </legend>
        @Html.InfoBlock(await Html.PlainResource("Heads up") + "!", await Html.PlainResource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
    </fieldset>
}