@using MrCMS.Helpers
@using MrCMS.Web.Apps.Articles.Areas.Admin.Services
@model MrCMS.Web.Apps.Articles.Areas.Admin.Models.UpdateArticleCategoriesModel
@inject IGetArticleListOptions GetArticleListOptions

<div class="form-group">
    @Html.LabelFor(x => x.ArticleListId)
    @Html.DropDownListFor(x => x.ArticleListId, await GetArticleListOptions.GetOptions(), new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ArticleListId)
</div>

<div class="form-check mb-3">
    @Html.InlineCheckboxFor(x => x.ShowNameAsTitle)
</div>