@model IEnumerable<MrCMS.Entities.Documents.Document>
@if (Model != null && Model.Any())
{
    <ul class="breadcrumb">
        <li><a href="/Admin/Search?parent=0">Top</a> <span class="divider">/</span></li>
        @foreach (var item in Model.ToList())
        {
            <li><a href="@item.UrlSegment&amp;type=@Request.QueryString["type"]">@item.Name</a> <span class="divider">/</span></li>
        }
    </ul>
}