@model MrCMS.Entities.Documents.Web.UrlHistory
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "UrlHistory", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Url
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-danger btn" value="Delete" />
            </span>
        </legend>
        Are you sure you want to delete the url "@Model.UrlSegment" ? Deleting cannot be undone.
    </fieldset>
}