@using MrCMS.Website
@model MrCMS.Web.Apps.Core.Widgets.CurrentPageSubNavigation
<div class="form-group">
    @Html.LabelFor(x => x.ShowNameAsTitle)
    @Html.CheckBoxFor(x => x.ShowNameAsTitle)
</div>