@model MrCMS.Web.Apps.Core.Areas.Admin.Models.Widgets.NavigationModel
<div class="form-group">
    @Html.LabelFor(widget => widget.IncludeChildren)
    @Html.CheckBoxFor(x => x.IncludeChildren)
</div>