@using MrCMS.Services
@model dynamic
@inject ICurrentSiteLocator _siteLocator

<div class="card">
    <div class="card-body">

        @{
            var currentSite = _siteLocator.GetCurrentSite();
        }
        @await Html.Resource("admin-dashboard-greeting", "Welcome {user}, you are currently administering web site {site}", configureOptions => configureOptions.AddReplacement("user", User.GetFullName()).AddReplacement("site", currentSite.DisplayName))
    </div>
</div>