@using MrCMS.Helpers
@using MrCMS.Web.Apps.Admin.Models
@model MrCMS.Web.Apps.Admin.Models.UpdateFormModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Form", new { Model.Id }, FormMethod.Post))
{
    <fieldset>
        <legend>
            @Html.Resource("Admin Form Delete", "Delete form")
        <span class="btn-group display-inline pull-right">
            <button type="submit" class="btn-danger btn">@Html.Resource("Delete")</button>
        </span>
    </legend>
    @Html.InfoBlock(Html.Resource("Heads up") + "!", Html.Resource("Admin Delete Info Warning", "Deleting this cannot be undone."), AlertType.danger)
</fieldset>
}