@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Forgotten Password</title>
    <link href="@Url.Content("~/Apps/Core/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <p>&nbsp;</p>
        <div class="row">
            <div class="span2">&nbsp;</div>
            <div class="span8">
                    <p>
                        Thank you. We have attempted to send a password reset email for the account related to the email provided.
                    </p>
            </div>
            <div class="span2">&nbsp;</div>
        </div>
    </div>
</body>
</html>
