@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Forgotten Password</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style>
        #demo div { background-color: black; color: white; }
    </style>
</head>
<body>
    <div class="container">
        <p>&nbsp;</p>
        <div class="row">
            <div class="span2">&nbsp;</div>
            <div class="span8">
                <div class="well">
                    <p>
                        Thank you. We have attempted to send a password reset email for the account related to the email provided.
                    </p>
                </div>
            </div>
            <div class="span2">&nbsp;</div>
        </div>
    </div>
</body>
</html>
