@model MrCMS.Web.Apps.Articles.Widgets.ArticleArchive
@{
    var month = Request["Month"];
    var year = Request["Year"];
    var distinctYearMonths = Model.ArticleList.PublishedChildren.Where(p => p.PublishOn.HasValue && p.Published)
        .Select(p => new { p.PublishOn.Value.Year, p.PublishOn.Value.Month })
        .Distinct()
        .ToList()
        .Select(x => new DateTime(x.Year, x.Month, 1))
        .OrderByDescending(x => x.Date);
}
@if (Model != null)
{
    if (Model.ShowNameAsTitle)
    {
        <h4>News Archive</h4>
    }

    <ul class="nav nav-pills nav-stacked">
        @foreach (var i in distinctYearMonths)
            {
                var active = "";
                if (month == i.ToString("MM") && year == i.ToString("yyyy"))
                {
                    active = "active";
                }
            <li class="@active"><a href="/@Model.ArticleList.LiveUrlSegment?Month=@i.ToString("MM")&Year=@i.ToString("yyyy")">@i.ToString("MMMM") @i.ToString("yyyy")</a></li>
            }
    </ul>
}