@using MrCMS.Web.Apps.Articles.Pages
@using NHibernate.Criterion
@model MrCMS.Web.Apps.Articles.Pages.ArticleList 

<ul class="nav nav-pills nav-stacked">
    @foreach (var category in Model.Tags)
    {
        <li><a href="/@Model.LiveUrlSegment?category=@category.Name">@category.Name</a></li>
    }
</ul>
