@model MrCMS.Web.Apps.Articles.Widgets.ArticleArchiveModel  
@if (Model != null && Model.ArticleYearsAndMonths != null)
{
    if (Model.ArticleArchive.ShowNameAsTitle)
    {
        <h4>News Archive</h4>
    }
    <ul class="nav nav-pills nav-stacked">
        @foreach (var i in Model.ArticleYearsAndMonths)
            {
                var active = "";
                if (Model.Month == i.ToString("MM") && Model.Year == i.ToString("yyyy"))
                {
                    active = "active";
                }
            <li class="@active"><a href="/@Model.ArticleList.LiveUrlSegment?Month=@i.ToString("MM")&Year=@i.ToString("yyyy")">@i.ToString("MMMM") @i.ToString("yyyy")</a></li>
            }
    </ul>
}