@using MrCMS.Helpers
@model MrCMS.Web.Apps.Admin.Models.UpdateFormPropertyModel
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "FormProperty", FormMethod.Post))
{
    <fieldset>
        <legend>@Html.Resource("Admin Form Delete Field Title", "Delete Field")
            <span class="btn-group  d-inline  pull-right">
                <input type="button" class="btn btn-danger submit-form-btn" value="@Html.Resource("Admin Form Delete Field Button", "Delete field")" />
            </span>
        </legend>
        @Html.Resource("Admin Form Delete Field Warning", "Deleting cannot be undone, do you want to proceed?")

    </fieldset>
}
@{ Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/form-builder.js"); }