@using MrCMS.Web.Admin.Infrastructure.Helpers
@model MrCMS.Web.Admin.Models.ContentBlocks.AddContentBlockViewModel
@{
    var additionalPropertyModel = ViewData["additional-property-model"];
}

<form asp-action="Add" asp-controller="ContentBlock" method="post">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>@await Html.Resource("admin-add", "Add") @Model.TypeDisplayName</h1>
                </div>
                <div class="col">
                    <span class="btn-group pull-right">
                        <a href="@Url.Action("Edit", "Webpage", new {Id = Model.WebpageId})" class="btn btn-secondary">@await Html.Resource("admin-back", "Back")</a>
                        <button type="submit" class="btn btn-primary">@await Html.Resource("admin-save", "Save")</button>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <div class="card">
        <div class="card-body">
            <fieldset>
                <input type="hidden" asp-for="WebpageId" />
                <input type="hidden" asp-for="BlockType" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>

                @if (additionalPropertyModel != null)
                {
                    @await Html.RenderCustomAddAdminProperties(Model.ClrType, additionalPropertyModel)
                }

            </fieldset>
        </div>
    </div>
</form>