@using MrCMS.Entities.Documents.Web
@using MrCMS.Web.Admin.Services.Content
@inject IContentBlockAdminService _adminService
@model int

@{
    var block = ViewData["block"] as IContentBlock;
}
<h2>Editor</h2>
@if (block != null)
{
    <form asp-action="Edit" asp-controller="ContentBlock" asp-route-id="@Model" data-content-admin-save-editor>
        @{
            await Html.RenderPartialAsync($"Editors/{block.GetType().Name}", await _adminService.GetUpdateModel(Model));
        }
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
}