@using MrCMS.Services
@using MrCMS.Web.Apps.Core.Services.Widgets
@using MrCMS.Website
@using MrCMS.Web.Apps.Articles.Services.Widgets
@using MrCMS.Web.Apps.Articles.Widgets
@using Microsoft.Extensions.Primitives

@model WidgetData
@inject IWidgetUIService WidgetUIService
@inject IGetArticleArchive GetArticleArchive
@{
    var widget = await WidgetUIService.GetWidgetAsync<ArticleArchive>(Model.Id);
    var archives = await GetArticleArchive.GetArticlArchiveList(widget.ArticleList);

    int? year = null;
    int? month = null;

    StringValues yearValue;
    Context.Request.Query.TryGetValue("Year", out yearValue);
    if (yearValue.Any())
    {
        year = int.Parse(yearValue);
    }

    StringValues monthValue;
    Context.Request.Query.TryGetValue("Month", out monthValue);
    if (monthValue.Any())
    {
        month = int.Parse(monthValue);
    }
}
@if (archives != null)
{
    if (widget.ShowNameAsTitle)
    {
        <h4>News Archive</h4>
    }
    <ul class="nav nav-pills nav-stacked">
        @foreach (var i in archives)
        {
            var active = "";
            if (month == i.Date.Month && year == i.Date.Year)
            {
                active = "active";
            }
            <li class="@active"><a href="/@widget.ArticleList.UrlSegment?Month=@i.Date.ToString("MM")&Year=@i.Date.ToString("yyyy")">@i.Date.ToString("MMMM") @i.Date.ToString("yyyy")</a></li>
        }
    </ul>
}