@model dynamic
@{
    ViewBag.Title = "Import/Export Documents";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<fieldset>
        <legend>Import / Export Documents
        </legend>

        <div class="row-fluid">
             <span class="btn-group display-inline">
                 <a href="@Url.Action("ExportDocuments", "ImportExport")" class="btn btn-primary">Export Documents</a>
            </span>
            <div class="clearfix"></div>
                    
            @if(ViewBag.ExportStatus!=null)
                     {
                            <br />
                             <span class="alert alert-info">@ViewBag.ExportStatus</span><div class="clearfix"></div>
                     }
            <hr />
                  <div class="alert alert-info">Import File must be in .xslx format. After clicking on "Import Documents" any new documents inside file
                       will be added to database and existing ones will be updated with provided values in file.
                  </div>
            <div class="clearfix"></div>
                 @using (Html.BeginForm("ImportDocuments", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                 {
                    <span class="btn btn-success fileinput-button"><span>Choose Import File</span>  
                         <input type="file" name="document" id="document" />  </span>
                     <div class="clearfix"></div>
                     <br />
                     if(ViewBag.Messages!=null)
                     {
                         foreach (var item in (Dictionary<string, List<string>>)ViewBag.Messages)
                         {
                             <span>
                                 <strong>@item.Key</strong> has the following errors:
                             </span>
                            <ul>
                                @foreach (string error in (List<string>)item.Value)
                                 {
                                     <li>
                                        @error
                                    </li>
                                 }
                            </ul>
                         }
                         if(!((Dictionary<string, List<string>>)ViewBag.Messages).Any())
                         {
                             <div class="alert alert-success">
                                 All documents were successfully imported.
                            </div>
                         }
                     }
                     if(ViewBag.ImportStatus!=null)
                     {
                             <div class="alert alert-error">@ViewBag.ImportStatus</div>
                            <div class="clearfix"></div>
                     }
                  
                  <input type="submit" class="btn btn-primary" value="Import Documents"/>
                 }
        </div>
</fieldset>