@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Notification", FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Delete Notification
                <span class="btn-group  display-inline  pull-right">
                    <input type="submit" class="btn btn-danger" value="Delete notification" />
                </span>
        </legend>
        <p>Are you sure you want to delete this notification?</p>
    </fieldset>
}
