@model MrCMS.Models.UserSearchQuery
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            @Html.TextBoxFor(query => query.Email, new { @class = "search-query", placeholder = "Email" })
            <input type="submit" class="btn btn-xs btn-primary" value="@Resource("Search")" />
            @Html.ValidationMessageFor(query => query.Email)
        }
    </div>
</div>
