@model MrCMS.Entities.People.User
@using (Html.BeginForm("SetPassword", "User", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <div class="modal-header">
        <h3 id="myModalLabel">Reset user password</h3>
    </div>
    <div class="modal-body">
        @Html.Label("Password")
        @Html.TextBox("Password")
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Set Password" />
    </div>
}