@model MrCMS.Entities.People.User
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("SetPassword", "User", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>Reset user password
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-primary" value="Set Password" />
            </span>
        </legend>
        @Html.Label("Password")
        @Html.TextBox("Password")
    </fieldset>
}