@model MrCMS.Entities.People.User
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("SetPassword", "User", new { id = Model.Id }, FormMethod.Post, new { style = "display:inline;" }))
{
    <fieldset>
        <legend>@Resource("Admin User Reset User Password", "Reset user password")
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-primary" value="@Resource("Save")" />
            </span>
        </legend>
        <div class="form-group">
            @Html.Label("Password")
            @Html.TextBox("Password", null, new{@class="form-control"})
        </div>
    </fieldset>
}