@model int
@using (Html.BeginForm("SetPassword", "User", new { id = Model }, FormMethod.Post, new { style = "display:inline;" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Reset user password</h3>
    </div>
    <div class="modal-body">
        @Html.Label("Password")
        @Html.TextBox("Password")
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <input type="submit" class="btn btn-primary" value="Set Password" />
    </div>
}