@using MrCMS.Apps
@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutRoot.cshtml";
}

@Html.Hidden("controller-name", ViewData["controller-name"])

@{ Html.RenderPartial("Navbar"); }

<div class="container-mrcms">

    @{ Html.RenderPartial("AdminNavigation"); }
    <div class="main-content">
        <div class="admin-message">
            @{ Html.RenderPartial("Messages");}
        </div>
        @RenderBody()
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>

<!--[if lt IE 10]><br /><br />@{@Html.InfoBlock("Warning!", "You are using an outdated browser. For maximum functionality and experience please upgrade to Chrome, Firefox or IE 11.", AlertType.warning)}<![endif]-->
@if (IsSectionDefined("JavaScriptBlock"))
{
    DefineSection("JavaScriptBlock", () => Write(RenderSection("JavaScriptBlock")));
}