@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "_LayoutRoot.cshtml";
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/popup.js");
}

<div>
    <div style="padding: 10px">@RenderBody()</div>
</div>

<style type="text/css">
    html,body { padding-top: 0; height: auto; overflow: auto;}
</style>


@if (IsSectionDefined("JavaScriptBlock"))
{
    @RenderSection("JavaScriptBlock")
}

