@using MrCMS.Helpers
@using MrCMS.Website
@{
    Layout = "_LayoutRoot.cshtml";
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/mrcms/popup.js");
}

<div class="row-fluid" style="min-height: 500px;">
    <div class="span12" style="padding: 10px">@RenderBody()</div>
</div>

<style type="text/css">
    body { padding-top: 0; }
</style>


@if (IsSectionDefined("JavaScriptBlock"))
{
    @RenderSection("JavaScriptBlock")
}

