<div class="left-nav">
    <div id="nav-tabs">
        <ul class="nav nav-tabs">
            <li id="web-nav"><a href="#web" data-toggle="tab" id="pages-tab">Pages</a></li>
            <li id="media-tree-nav"><a href="#media" data-toggle="tab" id="media-tab">Media</a></li>
            <li id="layout-nav"><a href="#layout" data-toggle="tab" id="layout-tab">Layout</a></li>
        </ul>
        <div class="tab-content">
            <div id="web" class="tab-pane">
                <div class="sidebar-nav" id="webpage-tree">
                </div>
                <strong>Key</strong>
                <hr class="small-margin" />
                <span class="grey">Not included in site navigation</span><br />
                <span class="orange">Not published</span><br />
            </div>

            <div id="media" class="tab-pane">
                <div class="sidebar-nav" id="media-tree">
                    
                </div>
            </div>

            @*@{ Html.RenderAction("WebSiteTree", "Navigation"); }
            @{ Html.RenderAction("MediaTree", "Navigation"); }
            @{ Html.RenderAction("LayoutTree", "Navigation"); }*@
        </div>
    </div>
</div>
