@using MrCMS.Web.Areas.Admin.Helpers
@model dynamic

@if (TempData.SuccessMessages().Any())
{
    <div class="alert alert-success">
        @Html.Raw(string.Join("<br />", TempData.SuccessMessages()))
    </div>
}
@if (TempData.ErrorMessages().Any())
{
    <div class="alert alert-danger">
        @Html.Raw(string.Join("<br />", TempData.ErrorMessages()))
    </div>
}
@if (TempData.InfoMessages().Any())
{
    <div class="alert alert-info">
        @Html.Raw(string.Join("<br />", TempData.InfoMessages()))
    </div>
}
