@using MrCMS.Website
<nav class="navbar navbar-default no-border-radius margin-bottom-0" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="display-inline">
                <a href="/"><i class="glyphicon glyphicon-home home-link"></i></a><a href="/Admin"> <img src="/Areas/Admin/Content/Images/logo.png" style="margin-top: -20px;" /></a>
            </span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @*@{ Html.RenderAction("Get", "NavLinks");}*@
            <form class="navbar-form navbar-left" role="search" action="@Url.Action("Index", "Search")" method="GET">
                <div class="input-group">
                    @Html.TextBox("term", "", new { @class = "search-query form-control", placeholder = "Search", autocomplete = "off" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">GO</button>
                    </span>
                </div>
            </form>
            
            <div class="nav pull-right">
                @{ Html.RenderAction("Get", "SiteList"); }
            </div>
            @if (!CurrentRequestData.CurrentUser.DisableNotifications)
            {
                Html.RenderAction("Navbar", "PersistentNotification");
            }
            <div class="nav pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@CurrentRequestData.CurrentUser.Name  <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="@Url.Action("Edit", "User", new{Id = CurrentRequestData.CurrentUser.Id})">Your Account</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
