<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/Admin">Mr CMS</a>
            <div class="nav-collapse">
                @{ Html.RenderAction("Navlinks", "Navigation");}
                <form class="navbar-search pull-left" action="@Url.Action("Index", "Search")" method="POST">
                    @Html.TextBox("term", "", new { @class = "search-query span2", placeholder = "Search", autocomplete = "off" })
                </form>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
