<div id="users">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">somewebsite.co.uk</li>
        </ul>
        @Model
    </div>
    <!--/.well -->
</div>