@using MrCMS.Web.Admin.Infrastructure.TagHelpers
@{
    ViewBag.Title = "Manage Layouts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<admin-header>
    <row>
        <admin-header-title title="@await Html.Resource("admin-layouts", "Layouts", option=> option.DisableInlineEditing())"/>

        <admin-header-actions>
        </admin-header-actions>
    </row>
</admin-header>


<div id="layout" data-layout-tree>
    <div class="sidebar-nav" id="layout-tree">
    </div>
</div>